<div>
    <div nz-row>
        <div nz-col [nzSpan]="24">
            订单号: {{_data.id}}
        </div>
        <div nz-col [nzSpan]="24" style="margin-top: 10px">
            <nz-table [nzDataSource]="_data.payment" [nzBordered]="true" [nzIsPagination]="false">
              <thead nz-thead>
                <tr>
                  <th nz-th>
                    <span>交易单号</span>
                  </th>
                  <th nz-th>
                    <span>支付时间</span>
                  </th>
                  <th nz-th>
                    <span>金额</span>
                  </th>
                  <th nz-th>
                    <span>支付方式</span>
                  </th>
                  <th nz-th>
                    <span>状态</span>
                  </th>
                </tr>
              </thead>
              <tbody nz-tbody>
                    <tr nz-tbody-tr style="background-color:#ececec;" *ngFor="let item of _data.payment">
                        <td nz-td>{{item.number}}</td>
                        <td nz-td>{{item.payTime?item.payTime:'无'}}</td>
                        <td nz-td>{{item.needPaidPrice.toFixed(2)}}</td>
                        <td nz-td>{{item.payMethodName?item.payMethodName:'无'}}</td>
                        <td nz-td>{{item.statusDes}}</td>
                    </tr>
              </tbody>
          </nz-table>
          
        </div>
    </div>
</div>