<nz-content style="margin:0 16px">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>平台订单管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>订单列表</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:20px;background: #fff;min-height: 360px;">
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab (nzClick)="tabClick(tab)" [nzDisabled]="_loading" *ngFor="let tab of tabs">
        <ng-template #nzTabHeading>{{tab.tabName}}</ng-template>
        <span>
          <form nz-form [formGroup]="orderManagerListForm" class="ant-advanced-search-form">
            <div nz-row [nzGutter]="40">
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="providerName">供应商</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-input [nzSize]="'large'" [nzId]="'providerName'" [(ngModel)]="reqParam.filter.providerName" formControlName="providerName"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="storeName">店铺</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-input [nzSize]="'large'" [nzId]="'storeName'" [(ngModel)]="reqParam.filter.storeName" formControlName="storeName"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="goodName">商品名称</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-input [nzSize]="'large'" [nzId]="'goodName'" [(ngModel)]="reqParam.filter.goodName" formControlName="goodName"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="phone">手机号</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-input [nzSize]="'large'" [nzId]="'phone'" [(ngModel)]="reqParam.filter.phone" formControlName="phone"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="orderId">订单号</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-input [nzSize]="'large'" [nzId]="'orderId'" [(ngModel)]="reqParam.filter.orderId" formControlName="orderId"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="payNumber">交易单号</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-input [nzSize]="'large'" [nzId]="'payNumber'" [(ngModel)]="reqParam.filter.payNumber" formControlName="payNumber"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="statusType">订单状态</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-select [(ngModel)]="reqParam.filter.statusType" formControlName="statusType" [nzPlaceHolder]="'订单状态'"
                      nzAllowClear>
                      <nz-option *ngFor="let option of serviceOrderStatuses" [nzLabel]="option.orderStatusName" [nzValue]="option.orderStatusType">
                      </nz-option>
                    </nz-select>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24" *ngIf="tab.index == 2">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="payType">支付方式</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-select [(ngModel)]="reqParam.filter.payType" formControlName="payType" [nzPlaceHolder]="'订单状态'"
                      nzAllowClear>
                      <nz-option *ngFor="let option of payments" [nzLabel]="option.payMethodName" [nzValue]="option.payMethodType">
                      </nz-option>
                    </nz-select>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24" *ngIf="tab.index == 2">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="deliveryMode">配送方式</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-select [(ngModel)]="reqParam.filter.deliveryMode" formControlName="deliveryMode" [nzPlaceHolder]="'订单状态'"
                      nzAllowClear>
                      <nz-option *ngFor="let option of deliveryModes" [nzLabel]="option.deliveryModeName" [nzValue]="option.deliveryModeType">
                      </nz-option>
                    </nz-select>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="startDate">开始时间</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-datepicker formControlName="startDate" style="width:100%" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate"
                      [nzDisabledDate]="_disabledStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'开始时间'"></nz-datepicker>
                  </div>
                </div>
              </div>
              <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-row>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label for="endDate">结束时间</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="19">
                    <nz-datepicker formControlName="endDate" style="width: 100%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate"
                      [nzDisabledDate]="_disabledEndDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzSpan]="24" style="text-align: right;">
                <button nz-button (click)="clear()">清除</button>
                <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
              </div>
            </div>
          </form>
        </span>
      </nz-tab>
    </nz-tabset>
    <div nz-row style="margin-top: 20px;">
      <div nz-col [nzSpan]="24">
        <button nz-button [nzSize]="'large'" [disabled]="_disabledButton" (click)="_patchExportData()">批量导出</button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="_exportAllData()">全部导出</button>
      </div>
    </div>
    <div nz-row style="margin-top: 20px">
      <div nz-col [nzSpan]="24">
          <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="reqParam.page.currentPage"
          (nzPageIndexChange)="refreshData(reqParam)" [(nzPageSize)]="reqParam.page.pageSize" (nzPageSizeChange)="refreshData(reqParam)" [nzShowTotal]="true"
          [nzBordered]="true">
            <thead nz-thead>
              <tr>
                <th nz-th [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                  </label>
                </th>
                <!-- <th nz-th>
                  <span>图片</span>
                </th> -->
                <th nz-th>
                  <span>{{currentTab == 1? '服务名称': '商品名称'}}</span>
                </th>
                <th nz-th>
                  <span>单价</span>
                </th>
                <th nz-th>
                  <span>数量</span>
                </th>
                <th nz-th>
                  <span>售后</span>
                </th>
                <th nz-th>
                  <span>买家</span>
                </th>
                <th nz-th>
                  <span>{{currentTab == 1? '服务信息': '实际收款'}}</span>
                </th>
                <th nz-th>
                  <!-- 配送方式还有个goodsType == 1的条件  虚拟商品为2  无配送方式 -->
                  <span>{{currentTab == 1? '实际收款': '配送方式'}}</span>
                </th>
                <th nz-th>
                  <span>所属供应商和店铺</span>
                </th>
                <th nz-th>
                  <span>订单状态</span>
                </th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
                <tr nz-tbody-tr style="background-color:#ececec;">
                  <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                    </label>
                  </td>
                  <td nz-td colspan="8">
                    <span style="font-weight: 700;font-size:14px;">{{data.createTime}}</span>&nbsp;&nbsp;
                    <strong>订单号：{{data.id}}</strong>&nbsp;&nbsp;
                    <strong *ngIf="data.payment.length>0">交易单号：{{data.payment[0].number}}</strong>
                    <strong *ngIf="data.serviceEmployees.length>0">服务人员信息：{{data.serviceEmployees[0].name}}，{{data.serviceEmployees[0].gender | genderPipe}}，{{data.serviceEmployees[0].phone}}</strong>
                    <strong *ngIf="data.statusType==4 || data.statusType==5">快递公司：{{data.shippingCompanyName}}</strong>
                    <strong *ngIf="data.statusType==4 || data.statusType==5">快递单号：{{data.shippingNumber}}</strong>
                  </td>
                  <td nz-td>
                    <span *ngFor="let rItem of data.customerServiceRemark.tagList">
                      <i *ngIf="rItem.selected" class="anticon anticon-tag" [style.color]="rItem.type | remarkFilter"></i>
                    </span>
                  </td>
                </tr>
                <ng-template ngFor let-item [ngForOf]="data.goodList" let-j="index">
                  <tr nz-tbody-tr>
                    <td nz-td style="border-bottom:0;">
                    </td>
                    <td nz-td>
                      <div style="text-align: left;">
                        <div style="display:block;float:left;">
                          <img style="width:40px;height:40px;float:left;" [src]="item.icon | imgPipe:40" [alt]="item.goodName">
                        </div>
                        <div style="float:left;margin-left:8px;">
                          <div>{{item.goodName}}</div>
                          <div>{{item.prickle}}</div>
                        </div>
                        
                      </div>
                    </td>
                    <td nz-td>￥{{item.price}}</td>
                    <td nz-td>{{item.count}}</td>
                    <td nz-td>{{item.afterMarketStatus?item.afterMarketStatus: '无'}}</td>
                    <td nz-td *ngIf="j==0" [attr.rowspan]="data.goodList.length">
                      <p>{{data.receiverName}}</p>
                      <p>{{data.phone}}</p>
                      <p>{{data.deliveryAddr}}</p>
                    </td>
                    <td nz-td *ngIf="j==0" [attr.rowspan]="data.goodList.length">
                      <p *ngIf="(!item.attrs || item.attrs.length==0) && currentTab == 1">无</p>
                      <ng-container *ngIf="currentTab == 1">
                        <p *ngFor="let aItem of item.attrs">{{aItem.name}}：{{aItem.value}}</p>
                      </ng-container>
                      <div style="text-align:center;" *ngIf="currentTab == 2">
                        <p>总额: {{data.needPaidPrice}}</p>
                        <hr style="border:1px solid #000;margin:10px;" />
                        <p *ngIf="currentTab == 2">{{data.paymentStateInfo.payMethodName}}</p>
                      </div>
                    </td>
                    <td nz-td *ngIf="j==0" [attr.rowspan]="data.goodList.length">
                      <div style="text-align:center;" *ngIf="currentTab == 1">
                        <p>总额: {{data.needPaidPrice}}</p>
                        <hr style="border:1px solid #000;margin:10px;" />
                        <p *ngIf="currentTab == 1"><a (click)="getOrderPayList(data)" style="cursor: pointer;">资金流水</a></p>
                      </div>
                      <div *ngIf="currentTab == 2">
                          {{data.deliveryMode}}
                      </div>
                    </td>
                    <td nz-td *ngIf="j==0" [attr.rowspan]="data.goodList.length">
                      <p>供应商：{{data.providerName}}</p>
                      <p>店铺：{{data.storeName}}</p>
                    </td>
                    <td nz-td *ngIf="j==0" [attr.rowspan]="data.goodList.length" style="text-align:center;">
                      <p>{{data.statusType}}</p>
                      <!-- <p><a ng-click="solCtrl.showRemark(data)" style="cursor: pointer;">备注</a></p> -->
                      <app-show-remark [data]="data"></app-show-remark>
                      <!-- <p *ngIf="currentTab == 1"><a (click)="cancelOrder(data)" style="cursor:pointer">取消订单</a></p> -->
                      <app-cancel-order *ngIf="currentTab == 1" [data]="data" [cancelOrderReasons]="cancelOrderReasons" (cancelReceiveOrderSuccess)="cancelOrder($event)"></app-cancel-order>
                    </td>
                  </tr>
                </ng-template>
                <tr nz-tbody-tr *ngIf="data.remark && data.remark.length" style="width:100%;">
                  <td nz-td>
                  </td>
                  <td nz-td colspan="10">
                    用户备注：
                    <span style="color:#ffbf00;">{{data.remark}}</span>
                  </td>
                </tr>
              </ng-template>
          
            </tbody>
        </nz-table>
        
      </div>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>
