<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>首页广告管理</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
      <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
              <label [attr.for]="name">名称</label>
            </div>
        <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
          <nz-input formControlName="name" [(ngModel)]="_params.filter.name" [nzPlaceHolder]="'广告名称'" [nzSize]="'large'">
          </nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
            <label [attr.for]="selectedStatusTypeOption">状态</label>
          </div>
          <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
            <nz-select style="width: 160px;" [(ngModel)]="_params.filter.status" formControlName="selectedStatusTypeOption" [nzPlaceHolder]="'状态'">
              <nz-option *ngFor="let option of serviceOrderStatuses" [nzLabel]="option.statusName" [nzValue]="option.statusType">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
            <label [attr.for]="selectedStatusTypeOption">时间</label>
          </div>
          <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
            <nz-rangepicker [(ngModel)]="_dateRange" formControlName="_dateRange" nzShowTime [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-rangepicker>
          </div>
        </div>
        <button nz-button [nzType]="'primary'" (click)="refreshData(true)">
          <span>搜索</span>
        </button>
        <button nz-button (click)="resetForm($event)">
          <span>重置</span>
        </button>

    <button nz-button [nzType]="'primary'" style="float: right;" (click)="addNew()">
        <i class="anticon anticon-plus"></i>
        <span>新增</span>
      </button>
    </form>
    <div class="search-result-list">
      <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_params.page.currentPage"
        (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="refreshData()" [nzShowTotal]="true">
        <thead nz-thead>
          <tr>
            <th nz-th>广告图片</th>
            <th nz-th>广告名称</th>
            <th nz-th [nzWidth]="'250px'">备注</th>
            <th nz-th>生效时间</th>
            <th nz-th>失效时间</th>
            <th nz-th>排序</th>
            <th nz-th>状态</th>
            <th nz-th>操作</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>
              <div class="img-box">
                <img src="{{data.imgUrl}}" />
              </div>
            </td>
            <td nz-td>{{data.name}}</td>
            <td nz-td>{{data.note}}</td>
            <td nz-td>
              <!-- {{data.beginTimestamp | date : 'yyyy-MM-dd HH:mm:ss'}} -->
              <span *ngIf="!editData[data.id]">{{data.beginTimestamp | date : 'yyyy-MM-dd HH:mm:ss'}}</span>
              <nz-datepicker *ngIf="editData[data.id]" [(ngModel)]="endTime" nzShowTime [nzPlaceHolder]="'Select date'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            </td>
            <td nz-td>
              {{data.endTimestamp | date : 'yyyy-MM-dd HH:mm:ss'}}
              <nz-datepicker [(ngModel)]="endTime" nzShowTime [nzPlaceHolder]="'Select date'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            </td>
            <td nz-td>{{data.index}}</td>
            <td nz-td>{{data.status | adStatusPipe}}</td>
            <td nz-td>
              <span *ngIf="editData[data.id]">
                <a href="javascript:;" (click)="submit(editData[data.id])">
                  保存
                </a>
                <span nz-table-divider></span>
                <a href="javascript:;" (click)="cancel()">
                  取消
                </a>
              </span>
                <span *ngIf="!editData[data.id]">
                    <a href="javascript:;" (click)="toChannel(data)">投放渠道</a>
                    <span nz-table-divider></span>
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                          更多 <i class="anticon anticon-down"></i>
                        </a>
                        <ul nz-menu>
                          <li nz-menu-item>
                              <a href="javascript:;" (click)="edit(data)">编辑</a>
                          </li>
                          <li nz-menu-item *ngIf="data.status !== 2">
                              <a href="javascript:;" (click)="delete(data)">删除</a>
                          </li>
                          <li nz-menu-item *ngIf="data.status == 0&&!data.show">
                              <a href="javascript:;" (click)="toPublish(data)">发布</a>
                          </li>
                          <li nz-menu-item *ngIf="data.status === 3 && !data.show">
                              <a href="javascript:;" (click)="toPublish(data)">重新发布</a>
                          </li>
                          <li nz-menu-item *ngIf="(data.status==0||data.status==3)&&data.show">
                              <a href="javascript:;" (click)="submit(data)">提交</a>
                          </li>
                          <li nz-menu-item *ngIf="data.status === 2">
                              <a href="javascript:;" (click)="stop(data)">使失效</a>
                          </li>
                        </ul>
                      </nz-dropdown>
                </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
