<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>商品审核</nz-breadcrumb-item>
        <nz-breadcrumb-item>审核管理</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:24px; background: #fff; min-height: 360px;">
        <form nz-form [formGroup]="_validateForm" class="ant-advanced-search-form">
            <div nz-row [nzGutter]="40">
                <div nz-col [nzSpan]="8">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="8">
                            <label>供应商名称</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-input [nzSize]="'large'" formControlName="providerName" [nzPlaceHolder]="'供应商名称'" [(ngModel)]="_reviewParams.providerName"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="8">
                            <label>商品品类</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-input [nzSize]="'large'" formControlName="typeName" [nzPlaceHolder]="'商品品类'" [(ngModel)]="_reviewParams.typeName"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="8">
                            <label>商品名称</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-input [nzSize]="'large'" formControlName="goodName" [nzPlaceHolder]="'商品名称'" [(ngModel)]="_reviewParams.goodName"></nz-input>
                        </div>
                    </div>
                </div>
                <div nz-col [nzSpan]="8">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="8">
                            <label>提交工单时间</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-datepicker [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'" [nzDisabledDate]="_disabledStartDate" style="width:100%"
                                formControlName="submitStartedDate" [(ngModel)]="_reviewParams.submitStartedDate"></nz-datepicker>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="8">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="8">
                            <label>提交工单时间</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <nz-datepicker [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'" style="width:100%" [nzDisabledDate]="_disabledEndDate"
                                [(ngModel)]="_reviewParams.submitEndDate" formControlName="submitEndDate"></nz-datepicker>
                        </div>
                    </div>
                </div>

                <div nz-col [nzSpan]="8">
                    <div nz-form-item nz-row>
                        <div nz-form-label nz-col [nzSpan]="8" style="padding-right:8px">
                            <button nz-button [nzType]="'primary'" (click)="search(_reviewParams)">
                                <i class="anticon anticon-search"></i>
                                <span>搜索</span>
                            </button>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="16">
                            <button nz-button (click)="resetForm()">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="search-result-list">
            <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" style="margin-top: 16px;">
                <nz-tab (nzClick)="tabClick(tab)" *ngFor="let tab of _tabs">
                    <ng-template #nzTabHeading>
                        {{tab.name}}
                    </ng-template>
                    <div>
                        <div style="margin-bottom: 16px;padding-left:5px" class="table-operations" *ngIf="tab.id === 11">
                            <button nz-button [nzType]="'default'" [disabled]="!_checkedNumber" [nzLoading]="_reviewLoading" (click)="batchReview()">批量通过</button>
                            <span style="margin-left: 8px;" *ngIf="_checkedNumber">选择了 {{_checkedNumber}} 数据</span>
                        </div>
                        <nz-table #nzTable [nzAjaxData]="_goodsResult.goods" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_goodsResult.page.totalCount"
                            [(nzPageIndex)]="_reviewParams.page.currentPage" (nzPageIndexChange)="goodsReview(_reviewParams)"
                            (nzPageSizeChange)="goodsReview(_reviewParams)" [(nzPageSize)]="_reviewParams.page.pageSize" [nzShowTotal]="true" [nzSize]="'middle'">
                            <thead nz-thead>
                                <tr>
                                    <th nz-th nzCheckbox>
                                        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                                        </label>
                                    </th>
                                    <th>商品名称</th>
                                    <th>商品品类</th>
                                    <th>供应商名称</th>
                                    <th>供应商类型</th>
                                    <th>提交时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                                    <td nz-td nzCheckbox>
                                        <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                                        </label>
                                    </td>
                                    <td nz-td>
                                        <img src="{{data.thumbnail}}" alt="" style="width:18px;height:18px">
                                        <span>{{data.name}}
                                            <nz-tag [nzColor]="'orange'" *ngIf="!data.updated">新增</nz-tag>
                                            <nz-tag [nzColor]="'green'" *ngIf="data.updated">编辑</nz-tag>
                                        </span>
                                    </td>
                                    <td nz-td>
                                        <nz-tooltip [nzTitle]="_goodsTypeText" [nzPlacement]="'bottomRight'" (click)="getGoodsType(data)" [nzTrigger]="'hover'" [nzMouseEnterDelay]="1">
                                            <a nz-tooltip>{{data.typeName}}</a>
                                        </nz-tooltip>
                                    </td>
                                    <td nz-td>{{data.providerName}}</td>
                                    <td nz-td>{{data.providerTypeName}}</td>
                                    <td nz-td>{{data.submitedDate}}</td>
                                    <td nz-td>
                                        <span>
                                            <a (click)="review(data)">审核</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
    <nz-back-top></nz-back-top>
</nz-content>