<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>公寓管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>商务工单列表</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <form nz-form [formGroup]="_validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="40">
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>工单号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input [nzSize]="'large'" formControlName="number" [nzPlaceHolder]="'工单号'" [(ngModel)]="_params.query.number"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>品类</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input [nzSize]="'large'" formControlName="categoryName" [nzPlaceHolder]="'品类'" [(ngModel)]="_params.query.categoryName"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>提交工单时间</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-datepicker [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始时间'" [nzDisabledDate]="_disabledStartDate" style="width:100%"
                formControlName="startTime" [(ngModel)]="_startTime"></nz-datepicker>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>房源地址</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input [nzSize]="'large'" formControlName="houseAddr" [nzPlaceHolder]="'房源地址'" [(ngModel)]="_houseAddr"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>公寓品牌</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input [nzSize]="'large'" formControlName="apartmentName" [nzPlaceHolder]="'公寓品牌'" [(ngModel)]="_params.query.apartmentName"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>提交工单时间</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-datepicker [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束时间'" [nzDisabledDate]="_disabledEndDate" style="width:100%"
                [(ngModel)]="_endTime" formControlName="endTime"></nz-datepicker>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>城市</label>
            </div>
            <div nz-col [nzSpan]="16">
              <nz-cascader name="areaInfo" [(ngModel)]="_areaInfo" [nzValueProperty]="'label'" [nzPlaceHolder]="'城市'" formControlName="areaInfo"
                (nzSelect)="select($event)" (nzLoad)="loadData($event)">
              </nz-cascader>
            </div>
          </div>
        </div>
        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8">
              <label>工单状态</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-select [nzPlaceHolder]="'订单状态'" nzAllowClear [(ngModel)]="_params.query.status" formControlName="status">
                <nz-option *ngFor="let option of _statusTypeOptions" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>

        <div nz-col [nzSpan]="8">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="8" style="padding-right:8px">
              <button nz-button [nzType]="'primary'" (click)="search(params)">
                <i class="anticon anticon-search"></i>
                <span>搜索</span>
              </button>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <button nz-button (click)="resetForm()">重置</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div style="margin-top: 16px;" class="table-operations">
      <button nz-button [nzType]="'primary'" (click)="addWorkOrder()" style="float:right">新增工单</button>
      <button nz-button [nzType]="'primary'" (click)="patchExportAll()">全部导出</button>
      <button nz-button [nzType]="'primary'" (click)="sendOrder(null,'patch')" [disabled]="_disabledButton" *ngIf="_params.query.businessIn">批量派单</button>
      <button nz-button [nzType]="'primary'" (click)="patchExport()" [disabled]="_disabledButton">批量导出</button>
      <span style="margin-left: 8px;" *ngIf="_checkedNumber">选择了 {{_checkedNumber}} 数据</span>
    </div>
    <div class="search-result-list">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab (nzClick)="tabClick(tab)" *ngFor="let tab of _tabs">
          <ng-template #nzTabHeading>
            {{tab.tabName}}
          </ng-template>
          <span>
            <nz-table class="wo-table" #nzTable [nzAjaxData]="_workOrderCMInfo.dataList" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_workOrderCMInfo.page.totalCount"
              [(nzPageIndex)]="_params.page.currentPage" (nzPageIndexChange)="getWorkOrderList(_params)" (nzPageSizeChange)="getWorkOrderList(_params)"
              [(nzPageSize)]="_params.page.pageSize" [nzShowTotal]="true" [nzBordered]="true" [nzSize]="'small'">
              <thead nz-thead>
                <tr>
                  <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                    </label>
                  </th>
                  <th nz-th>
                    <span>房屋编号</span>
                  </th>
                  <th nz-th>
                    <span>房源地址</span>
                  </th>
                  <th nz-th>
                    <span>公寓品牌</span>
                  </th>
                  <th nz-th>
                    <span>服务名称</span>
                  </th>
                  <th nz-th>
                    <span>工单状态</span>
                  </th>
                  <th nz-th>
                    <span>服务时间</span>
                  </th>
                  <th nz-th>
                    <span>服务人员</span>
                  </th>
                  <th nz-th>
                    <span>房源信息</span>
                  </th>
                  <th nz-th>
                    <span>订单信息</span>
                  </th>
                  <th nz-th>
                    <span>操作</span>
                  </th>
                </tr>
              </thead>
              <tbody nz-tbody>
                <ng-template ngFor let-data [ngForOf]="nzTable.data">
                  <tr nz-tbody-tr style="background-color:#ececec;">
                    <td nz-td [nzCheckbox]="true">
                      <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                      </label>
                    </td>
                    <td nz-td colspan="10">
                      <span style="font-weight: 700;font-size:14px;">{{data.createTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>&nbsp;&nbsp;
                      <strong>工单编号:{{data.number}}</strong>
                      &nbsp;&nbsp;
                      <strong>服务周期：{{data.servicePeriod | servicePeriodPipe}}</strong>
                    </td>
                  </tr>
                  <tr nz-tbody-tr>
                    <td nz-td style="border-bottom:0;"></td>
                    <td nz-td>{{data.resourceCode}}</td>
                    <td nz-td>{{data.address}}</td>
                    <td nz-td>{{data.apartmentName}}</td>
                    <td nz-td>{{data.goodsName}}</td>
                    <td nz-td>
                      <nz-tag [nzColor]="'pink'" *ngIf="data.status == 1"> {{data.status | woStatusPipe}}</nz-tag>
                      <nz-tag [nzColor]="'green'" *ngIf="data.status != 1"> {{data.status | woStatusPipe}}</nz-tag>
                    </td>
                    <td nz-td>
                      <p>开始时间:</p>
                      <p>{{data.beginServiceTime | date : 'yyyy-MM-dd HH:mm'}}</p>
                      <p>完成时间:</p>
                      <p>{{data.endServiceTime | date : 'yyyy-MM-dd HH:mm'}}</p>
                    </td>
                    <td nz-td>
                      <p>{{data.handlerUserName}}</p>
                      <p>{{data.handlerUserPhone}}</p>
                    </td>
                    <td nz-td>
                      <p>户型:{{data.bedroomNum}}房{{data.livingRoomNum}}厅{{data.bathroomNum}}卫</p>
                      <p>建筑面积:{{data.constructionArea}}㎡</p>
                      <p>套内面积:{{data.floorArea}}㎡</p>
                      <p>公区数量:{{data.totalPublicArea || '0'}}</p>
                    </td>
                    <td nz-td>
                      <p *ngIf="data.providerName">供应商:{{data.providerName}}</p>
                      <p *ngIf="data.storeName">店铺名称:{{data.storeName}}</p>
                      <p *ngIf="data.orderNumber">订单号:{{data.orderNumber}}</p>
                      <p *ngIf="data.orderStatus">订单状态:{{data.orderStatus}}</p>
                    </td>
                    <td nz-td>
                      <span *ngIf="data.status==1 || data.orderStatus=='已取消'">
                        <a (click)="sendOrder(data,'alone')">派单</a>
                        <span nz-table-divider></span>
                      </span>
                      <a (click)="goDetail(data)">详情</a>
                    </td>
                  </tr>
                  <tr nz-tbody-tr style="width:100%;">
                    <td nz-td></td>
                    <td nz-td colspan="10">
                      用户备注:
                      <span style="color:#ffbf00;">{{data.remark}}</span>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </nz-table>
          </span>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>