.search-result-list {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    /* text-align: center; */
    padding-top: 16px;
  }

  @media screen and (max-width: 1500px) {
    .wo-table {
      tr{
        th:nth-child(2){
            width:60px
        }
        th:nth-child(3){
            width:92px
        }
        th:nth-child(5){
            width:98px
        }
        th:nth-child(7){
            width:114px
        }
        th:nth-child(9){
            width:120px
        }
        th:nth-child(10){
            width:199px
        }
        th:last-child{
            width:43px
        }
      }
    }
  }