<div nz-row>
  <div nz-col [nzSpan]="24">
    <form #failReasonForm="ngForm" (ngSubmit)="_submitForm(failReasonForm)">
      <div nz-form-item>
        <nz-input [nzPlaceHolder]="'原因'" [nzType]="'textarea'" [nzSize]="'large'" name="reason" [(ngModel)]="_reason" #reason="ngModel" required></nz-input>
      </div>
      <div nz-form-item>
        <!-- <span style="color: #108ee9;cursor: pointer;font-size: 12px" (click)="reset()">重置</span> -->
        <button nz-button [nzType]="'primary'" [nzLoading]="_loading" [disabled]="failReasonForm.invalid" style="float:right">提交</button>
      </div>
    </form>
  </div>
</div>