<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>渠道管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>运营</nz-breadcrumb-item>
    <nz-breadcrumb-item>商品管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{channelName}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background:#fff; min-height: 360px;">
    <h3 class="sc-title">基本信息</h3>
    <nz-collapseset>
      <nz-collapse *ngFor="let panel of panels" [nzTitle]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>渠道名称</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.name}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>渠道状态</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <nz-switch [(ngModel)]="channelOpenStatus" (click)="changeStatus()"></nz-switch>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>对应K3销售单类型</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.k3id}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>渠道类型</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.type}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>是否需要定价功能</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.customPrice}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>App Id</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.appid}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>App Secret</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.appSecret}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>渠道账号</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>{{channelInfo.channelAccount}}</span>
          </div>
        </div>
        <div nz-form-item nz-row>
          <div nz-form-label nz-col [nzSpan]="6">
            <label>渠道密码</label>
          </div>
          <div nz-form-control nz-col [nzSpan]="14">
            <span nz-form-text>******</span>
          </div>
        </div>
      </nz-collapse>
    </nz-collapseset>
    <h3 class="sc-title">商品管理</h3>
    <div class="import-goods">
      <button nz-button [nzType]="'primary'" (click)="importGoods()">
        <span>一键导入商品</span>
      </button>
      <button nz-button [nzType]="'primary'" (click)="addGoods()">
        <span>添加商品</span>
      </button>
    </div>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab (nzSelect)="selectedTab(0)">
        <ng-template #nzTabHeading>
          真实商品
        </ng-template>
        <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
          <div nz-row [nzGutter]="40">
            <div nz-col [nzSpan]="6">
              <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="10">
                  <label [attr.for]="name">商品名称</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                  <nz-input [nzSize]="'large'" [(ngModel)]="_params.goodsName" [nzPlaceHolder]="'商品名称'" formControlName="goodsName"></nz-input>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="6">
              <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="10">
                  <label [attr.for]="status">商品品类</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                  <nz-input [nzSize]="'large'" [(ngModel)]="_params.goodsType" [nzPlaceHolder]="'商品品类'" formControlName="goodsType"></nz-input>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="6">
              <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="10">
                  <label [attr.for]="status">供应商</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                  <nz-input [nzSize]="'large'" [(ngModel)]="_params.providerName" [nzPlaceHolder]="'供应商'" formControlName="providerName"></nz-input>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="6">
              <button nz-button [nzType]="'primary'" (click)="search()">
                <i class="anticon anticon-search"></i>
                <span>搜索</span>
              </button>
              <button nz-button [nzType]="'default'" (click)="resetForm($event)">
                <span>重置</span>
              </button>
            </div>
          </div>
        </form>
        <div class="operations">
          <button [disabled]="!_indeterminate && !_allChecked" nz-button [nzType]="'primary'" (click)="showDeleteConfirm(_dataSet, 0)">
            <span>批量删除</span>
          </button>
        </div>
        <div class="search-result-list">
          <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_params.page.currentPage"
            (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="refreshData(true)"
            [nzShowTotal]="true">
            <thead nz-thead>
              <tr>
                <th nz-th [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                  </label>
                </th>
                <th>商品图片</th>
                <th>商品名称</th>
                <th>
                  <span>售价</span>
                </th>
                <th>
                  <span>渠道售价</span>
                </th>
                <th>
                  <span>商品品类</span>
                </th>
                <th>所属店铺</th>
                <th>所属供应商</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                  </label>
                </td>
                <td nz-td>
                  <img src="{{data.goodsImage | imgPipe:40}}" alt="{{data.goodsName}}" width="40px" height="40px">
                </td>
                <td nz-td>{{data.goodsName}}
                  <br>{{data.prickle}}</td>
                <td nz-td>￥{{data.goodsPrice}}</td>
                <td nz-td>
                  <span *ngIf="editRow!==data.id">￥{{data.channelPrice}}</span>
                  <span *ngIf="editRow===data.id">
                    <nz-input-number [(ngModel)]="tempEditObject[data.id].channelPrice" [nzMin]="0" [nzStep]="0.01"></nz-input-number>
                  </span>
                </td>
                <td nz-td>
                  <nz-tooltip (nzVisibleChange)="showTip($event, data)" [nzPlacement]="'topLeft'" [nzTitle]="cateTip">
                      <a nz-tooltip>{{data.goodsType}}</a>
                  </nz-tooltip>
                </td>
                <td nz-td>{{data.storeName}}</td>
                <td nz-td>{{data.providerName}}</td>
                <td nz-td>
                  <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delete(data, 0)">
                    <a nz-popconfirm>删除</a>
                  </nz-popconfirm>
                  <span nz-table-divider></span>
                  <span *ngIf="editRow!==data.id">
                    <a (click)="edit(data)">编辑</a>
                  </span>
                  <span *ngIf="editRow===data.id">
                    <nz-popconfirm [nzTitle]="'确认保存?'" (nzOnConfirm)="save(data)">
                      <a nz-popconfirm>保存</a>
                    </nz-popconfirm>
                    <span nz-table-divider></span>
                    <a (click)="cancel(data)">取消</a>
                  </span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-tab>
      <nz-tab (nzSelect)="selectedTab(1)">
        <ng-template #nzTabHeading>
          虚拟商品
        </ng-template>
        <div *ngIf="1">
          <form nz-form [formGroup]="validateForm2" class="ant-advanced-search-form">
            <div nz-row [nzGutter]="40">
              <div nz-col [nzSpan]="6">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="10">
                    <label [attr.for]="name">商品名称</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="_virtualGoodsParams.goodsName" [nzPlaceHolder]="'商品名称'" formControlName="goodsName"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col [nzSpan]="6">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="10">
                    <label [attr.for]="status">商品品类</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="_virtualGoodsParams.goodsType" [nzPlaceHolder]="'商品品类'" formControlName="goodsType"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col [nzSpan]="6">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="10">
                    <label [attr.for]="status">供应商</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzSize]="'large'" [(ngModel)]="_virtualGoodsParams.providerName" [nzPlaceHolder]="'供应商'" formControlName="providerName"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col [nzSpan]="6">
                <button nz-button [nzType]="'primary'" (click)="searchVirtualGoods(true)">
                  <i class="anticon anticon-search"></i>
                  <span>搜索</span>
                </button>
                <button nz-button [nzType]="'default'" (click)="resetForm2($event)">
                  <span>重置</span>
                </button>
              </div>
            </div>
          </form>
          <div class="operations">
            <button [disabled]="!_virtualIndeterminate && !_virtualAllChecked" nz-button [nzType]="'primary'" (click)="showDeleteConfirm(_virtualDataSet, 1)">
              <span>批量删除</span>
            </button>
          </div>
          <div class="search-result-list">
            <nz-table #nzTable [nzAjaxData]="_virtualDataSet" nzShowSizeChanger [nzLoading]="_virtualLoading" [nzTotal]="_virtualTotal"
              [(nzPageIndex)]="_virtualGoodsParams.page.currentPage" (nzPageIndexChange)="searchVirtualGoods()" [(nzPageSize)]="_virtualGoodsParams.page.pageSize"
              (nzPageSizeChange)="searchVirtualGoods(true)" [nzShowTotal]="true">
              <thead nz-thead>
                <tr>
                  <th nz-th [nzCheckbox]="true">
                    <label nz-checkbox [(ngModel)]="_virtualAllChecked" [nzIndeterminate]="_virtualIndeterminate" (ngModelChange)="_virtualCheckAll($event)">
                    </label>
                  </th>
                  <th>商品图片</th>
                  <th>商品名称</th>
                  <th>
                    <span>售价</span>
                  </th>
                  <th>
                    <span>渠道售价</span>
                  </th>
                  <th>
                    <span>商品品类</span>
                  </th>
                  <th>所属店铺</th>
                  <th>所属供应商</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                  <td nz-td [nzCheckbox]="true">
                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_virtualRefreshStatus($event)">
                    </label>
                  </td>
                  <td nz-td>
                    <img src="{{data.goodsImage | imgPipe:40}}" alt="商品图片" width="40px" height="40px">
                  </td>
                  <td nz-td>{{data.goodsName}}
                    <br>{{data.prickle}}</td>
                  <td nz-td>￥{{data.goodsPrice}}</td>
                  <td nz-td>
                    <span *ngIf="editRow!==data.id">￥{{data.channelPrice}}</span>
                    <span *ngIf="editRow===data.id">
                      <nz-input-number [(ngModel)]="tempEditObject[data.id].channelPrice" [nzMin]="0" [nzStep]="0.01"></nz-input-number>
                    </span>
                  </td>
                  <td nz-td>
                    <nz-tooltip (nzVisibleChange)="showTip($event, data)" [nzPlacement]="'topLeft'" [nzTitle]="cateTip">
                        <a nz-tooltip>{{data.goodsType}}</a>
                    </nz-tooltip>
                  </td>
                  <td nz-td>{{data.storeName}}</td>
                  <td nz-td>{{data.providerName}}</td>
                  <td nz-td>
                    <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delete(data, 1)">
                      <a nz-popconfirm>删除</a>
                    </nz-popconfirm>
                    <span nz-table-divider></span>
                    <span *ngIf="editRow!==data.id">
                      <a (click)="edit(data)">编辑</a>
                    </span>
                    <span *ngIf="editRow===data.id">
                      <nz-popconfirm [nzTitle]="'确认保存?'" (nzOnConfirm)="save(data)">
                        <a nz-popconfirm>保存</a>
                      </nz-popconfirm>
                      <span nz-table-divider></span>
                      <a (click)="cancel(data)">取消</a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>

      </nz-tab>
    </nz-tabset>

  </div>
</nz-content>
