<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>尊享vip后台</nz-breadcrumb-item>
        <nz-breadcrumb-item>九宫格</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:24px; background: #fff; min-height: 360px;">
        <div class="table-operations">
            <button nz-button [nzType]="'primary'" (click)="add()">新增</button>
        </div>
        <!-- <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" class="ant-advanced-search-form" style="margin-top: 16px;line-height: 32px">
            <div nz-row>
                <div nz-col [nzLg]="24" [nzXl]="16">
                    <div nz-col [nzLg]="8" [nzXl]="8">
                        <div nz-row>
                            <div nz-form-label nz-col [nzLg]="8" [nzXl]="8">
                                <label>公寓品牌名称</label>
                            </div>
                            <div nz-form-control nz-col [nzLg]="16" [nzXl]="16">
                                <nz-input [nzSize]="'large'" formControlName="name" [nzPlaceHolder]="'公寓名称'" [(ngModel)]="_params.name"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzLg]="8" [nzXl]="8">
                        <div nz-row>
                            <div nz-form-label nz-col [nzLg]="8" [nzXl]="8">
                                <label>公寓状态</label>
                            </div>
                            <div nz-form-control nz-col [nzLg]="16" [nzXl]="16">
                                <nz-select [(ngModel)]="_params.status" [nzPlaceHolder]="'公寓状态'" formControlName="status" nzAllowClear>
                                    <nz-option *ngFor="let option of options" [nzLabel]="option.value" [nzValue]="option.id">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzLg]="8" [nzXl]="8" style="padding-left: 16px">
                        <button nz-button [nzType]="'primary'" (click)="filter()" style="margin-right:8px">
                            <i class="anticon anticon-search"></i>
                            <span>搜索</span>
                        </button>
                        <button nz-button [nzType]="'default'" (click)="resetForm($event)">
                            <span>清除条件</span>
                        </button>
                    </div>
                </div>
            </div>
        </form> -->

        <div class="search-result-list">
            <nz-table #nzTable [nzAjaxData]="_dataSet.dataList" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_dataSet.page.totalCount"
                [(nzPageIndex)]="_params.page.currentPage" (nzPageIndexChange)="_refreshData()" [(nzPageSize)]="_params.page.pageSize"
                (nzPageSizeChange)="_refreshData()" [nzShowTotal]="true" [nzSize]="'middle'">
                <thead nz-thead>
                    <tr>
                        <th>序列号</th>
                        <th>跳转地址</th>
                        <th>图片</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td>{{data.id}}</td>
                        <td nz-td>{{data.url}}</td>
                        <td nz-td><img src="{{data.imageUrl}}" alt="" width="80px"></td>
                        <td nz-td>
                            <span>
                                <a (click)="edit(data)">修改</a>
                                <span nz-table-divider></span>
                                <a (click)="delete(data)">删除</a>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <nz-back-top></nz-back-top>
</nz-content>