<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>商品管理</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <div class="add-new clearfix">
      <button nz-button (click)="addNewGoods()" [nzType]="'primary'">新增商品</button>
    </div>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzSelectedIndex]="selectedTabIndex">
      <nz-tab (nzClick)="orderTypeChange(tab)" [nzDisabled]="_loading" *ngFor="let tab of tabs">
        <ng-template #nzTabHeading>{{tab.tabName}}</ng-template>
        <span>
          <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
            <div nz-row [nzGutter]="10">
              <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
                    <label [attr.for]="name">商品名称</label>
                  </div>
                  <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
                    <nz-input [nzSize]="'large'" [(ngModel)]="_params.name" formControlName="name"></nz-input>
                  </div>
                </div>
              </div>
              <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
                    <label [attr.for]="typeName">商品品类</label>
                  </div>
                  <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
                    <nz-input [nzSize]="'large'" [(ngModel)]="_params.typeName" formControlName="typeName"></nz-input>
                  </div>
                </div>
              </div>
              <div *ngIf="_currentTabIndex === 13" nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
                    <label [attr.for]="_startVerifyDate">审核成功时间</label>
                  </div>
                  <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
                    <nz-datepicker formControlName="_startVerifyDate" (ngModelChange)="_startVerifyDate=$event;_startValueChange(_startVerifyDate, _endVerifyDate)"
                      [ngModel]="_startVerifyDate" [nzDisabledDate]="_disabledVerifyStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                      [nzPlaceHolder]="'开始时间'"></nz-datepicker>
                    <span>~</span>
                    <nz-datepicker formControlName="_endVerifyDate" (ngModelChange)="_endVerifyDate=$event;_endValueChange(_startVerifyDate, _endVerifyDate)"
                      [ngModel]="_endVerifyDate" [nzDisabledDate]="_disabledVerifyEndDate" [nzShowTime]="_endVerifyTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                      [nzPlaceHolder]="'结束时间'"></nz-datepicker>
                    <!-- <a class="near" href="javascript:;" (click)="near(7)">最近7天</a> -->
                  </div>
                </div>
              </div>
              <div *ngIf="_currentTabIndex === 11 || _currentTabIndex === 12" nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
                    <label [attr.for]="startDate">提交时间</label>
                  </div>
                  <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
                    <nz-datepicker formControlName="_startAuditPendingDate" (ngModelChange)="_startAuditPendingDate=$event;_startValueChange(_startAuditPendingDate, _startAuditPendingDate)"
                      [ngModel]="_startAuditPendingDate" [nzDisabledDate]="_disabledAuditPendingStartDate" [nzShowTime]="true"
                      [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'开始时间'"></nz-datepicker>
                    <span>~</span>
                    <nz-datepicker formControlName="_endAuditPendingDate" (ngModelChange)="_endAuditPendingDate=$event;_endValueChange(_startAuditPendingDate, _startAuditPendingDate)"
                      [ngModel]="_endAuditPendingDate" [nzDisabledDate]="_disabledAuditPendingEndDate" [nzShowTime]="_endAuditPendingTime"
                      [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
                  </div>
                </div>
              </div>
              <div *ngIf="_currentTabIndex === 12" nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
                    <label [attr.for]="_startVerifyDate">审核时间</label>
                  </div>
                  <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
                    <nz-datepicker formControlName="_startVerifyDate" (ngModelChange)="_startVerifyDate=$event;_startValueChange(_startVerifyDate, _endVerifyDate)"
                      [ngModel]="_startVerifyDate" [nzDisabledDate]="_disabledVerifyStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                      [nzPlaceHolder]="'开始时间'"></nz-datepicker>
                    <span>~</span>
                    <nz-datepicker formControlName="_endVerifyDate" (ngModelChange)="_endVerifyDate=$event;_endValueChange(_startVerifyDate, _endVerifyDate)"
                      [ngModel]="_endVerifyDate" [nzDisabledDate]="_disabledVerifyEndDate" [nzShowTime]="_endVerifyTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                      [nzPlaceHolder]="'结束时间'"></nz-datepicker>
                    <!-- <a class="near" href="javascript:;" (click)="near(7)">最近7天</a> -->
                  </div>
                </div>
              </div>
              <div *ngIf="_currentTabIndex === 1" nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
                    <label [attr.for]="_startInvalidDate">失效时间</label>
                  </div>
                  <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18">
                    <nz-datepicker formControlName="_startInvalidDate" (ngModelChange)="_startInvalidDate=$event;_startValueChange(_startInvalidDate, _endInvalidDate)"
                      [ngModel]="_startInvalidDate" [nzDisabledDate]="_disabledInvalidStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"
                      [nzPlaceHolder]="'开始时间'"></nz-datepicker>
                    <span>~</span>
                    <nz-datepicker formControlName="_endInvalidDate" (ngModelChange)="_endInvalidDate=$event;_endValueChange(_startInvalidDate, _endInvalidDate)"
                      [ngModel]="_endInvalidDate" [nzDisabledDate]="_disabledInvalidEndDate" [nzShowTime]="_endInvalidTime"
                      [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div nz-row>
              <div nz-col [nzSpan]="24" style="text-align: right;">
                <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
                <button nz-button (click)="resetForm()">清除</button>
              </div>
            </div>
          </form>
        </span>
      </nz-tab>
    </nz-tabset>


    <div *ngIf="_currentTabIndex === 13" class="desc">
      <p>说明：</p>
      <p>1、当商品已在某个店铺上架，则该商品不可进行删除，如需删除则使用上下架管理将商品在所有的店铺进行下架操作。</p>
      <p>2、编辑商品，则会形成一条审核中数据，当审核通过后，商品的原商品的信息才会进行变更，审核中原商品信息保持不变。</p>
    </div>
    <div class="operations clearfix">
      <button *ngIf="_currentTabIndex === 13" nz-button [disabled]="!_indeterminate && !_allChecked" [nzType]="'primary'" (click)="batchDown()">批量下架</button>
      <button *ngIf="_currentTabIndex !== 11" nz-button [disabled]="!_indeterminate && !_allChecked" [nzType]="'primary'" (click)="batchDelete()">批量删除</button>
    </div>
    <div class="search-result-list">
      <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_params.page.currentPage"
        (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="refreshData(true)" [nzShowTotal]="true">
        <thead nz-thead>
          <tr>
            <th nz-th [nzCheckbox]="true" *ngIf="_currentTabIndex !== 11">
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th [nzWidth]="'20%'">商品</th>
            <!-- <th>商品名称</th> -->
            <!-- <th nz-th *ngIf="_currentTabIndex === 11 || _currentTabIndex === 12">变动</th> -->
            <th nz-th>
              <span>成本价</span>
            </th>
            <th nz-th>
              <span>原价</span>
            </th>
            <th nz-th>
              <span>售价</span>
            </th>
            <th nz-th>
              <span>商品品类</span>
            </th>
            <th nz-th *ngIf="_currentTabIndex === 13">
              <span>添加/上架店铺</span>
            </th>
            <th nz-th *ngIf="_currentTabIndex === 13">
              <span>审核成功时间</span>
            </th>
            <th nz-th *ngIf="_currentTabIndex !== 1 && _currentTabIndex !== 13">
              <span>提交时间</span>
            </th>
            <th nz-th *ngIf="_currentTabIndex === 12">
              <span>审核时间</span>
            </th>
            <th nz-th *ngIf="_currentTabIndex === 1">
              <span>失效时间</span>
            </th>
            <th nz-th>操作</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td [nzCheckbox]="true" *ngIf="_currentTabIndex !== 11">
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
              </label>
            </td>
            <td nz-td class="goods">
              <div *ngIf="_currentTabIndex === 1 || _currentTabIndex === 12" class="img-box">
                  <img src="{{data.thumbnail}}" alt="{{data.name}}" width="40px" height="40px">
                  <span class="goods-name">{{data.name}}</span>
                  <nz-tag *ngIf="!data.updated" [nzColor]="'green'">新增</nz-tag>
                  <nz-tag *ngIf="data.updated" [nzColor]="'orange'">更新</nz-tag>
              </div>
              <div *ngIf="_currentTabIndex !== 1 && _currentTabIndex !== 12">
                  <a (click)="check(data)">
                    <img src="{{data.thumbnail}}" alt="{{data.name}}" width="40px" height="40px">
                    <span class="goods-name">{{data.name}}</span>
                    <nz-tag *ngIf="!data.updated" [nzColor]="'green'">新增</nz-tag>
                    <nz-tag *ngIf="data.updated" [nzColor]="'orange'">更新</nz-tag>
                  </a>
              </div>
            </td>
            <!-- <td nz-td>
              <a (click)="check(data)">{{data.name}}</a>
            </td> -->
            <!-- <td nz-td *ngIf="_currentTabIndex === 11 || _currentTabIndex === 12">
              <div class="new" *ngIf="!data.updated">
                  <nz-tag [nzColor]="'green'">新增</nz-tag>
              </div>
              <div class="update" *ngIf="data.updated">
                  <nz-tag [nzColor]="'orange'">更新</nz-tag>
              </div>
            </td> -->
            <td nz-td>
              <span *ngIf="data.costPrice">￥{{data.costPrice}}</span>
            </td>
            <td nz-td>
              <span *ngIf="data.originalPrice">￥{{data.originalPrice}}</span>
            </td>
            <td nz-td>
              <span *ngIf="data.price">￥{{data.price}}</span>
            </td>
            <td nz-td>
              <nz-tooltip (nzVisibleChange)="showTip($event, data)" [nzPlacement]="'topLeft'" [nzTitle]="cateTip">
                  <a nz-tooltip>{{data.typeName}}</a>
              </nz-tooltip>
            </td>
            <td nz-td *ngIf="_currentTabIndex === 13">
              <div *ngIf="data.addNum>0">已上架：{{data.shelvesNum}}</div>
              <div *ngIf="data.addNum>0 ">已添加：{{data.addNum}}</div>
              <div *ngIf="data.addNum==0 && data.shelvesNum==0">暂无店铺添加</div>
            </td>
            <td nz-td *ngIf="_currentTabIndex === 13">
              {{data.auditTime | date:"yyyy-MM-dd HH:mm:ss"}}
            </td>
            <td nz-td *ngIf="_currentTabIndex !== 1 && _currentTabIndex !== 13">
              {{data.auditPendingTime | date:"yyyy-MM-dd HH:mm:ss"}}
            </td>
            <td nz-td *ngIf="_currentTabIndex === 12">
              {{data.auditPendingTime | date:"yyyy-MM-dd HH:mm:ss"}}
            </td>
            <td nz-td *ngIf="_currentTabIndex === 1">
              {{data.invalidDate | date:"yyyy-MM-dd HH:mm:ss"}}
            </td>
            <td nz-td *ngIf="_currentTabIndex !== 12">
              <span *ngIf="_currentTabIndex !== 1">
                <a (click)="edit(data)">编辑</a>
              </span>
              <!-- <span *ngIf="_currentTabIndex !== 1">
                <span nz-table-divider></span>
                <a (click)="check(data)">查看</a>
              </span> -->
              <span *ngIf="_currentTabIndex !== 11 && data.addNum <= 0 && data.shelvesNum <= 0">
                <span nz-table-divider *ngIf="_currentTabIndex !== 1"></span>
                <a (click)="delete(data)">删除</a>
              </span>
              <span *ngIf="data.addNum > 0 && _currentTabIndex === 13">
                <span nz-table-divider></span>
                <a (click)="pullManagement(data)">上下架管理</a>
              </span>
              <!-- <span *ngIf="editRow===data.id">
                    <nz-popconfirm [nzTitle]="'确认保存?'" (nzOnConfirm)="save(data)">
                      <a nz-popconfirm>保存</a>
                    </nz-popconfirm>
                    <span nz-table-divider></span>
                    <a (click)="cancel(data)">取消</a>
                  </span>
                  <span nz-table-divider></span>
                  <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delete(data, 0)">
                      <a nz-popconfirm>下架</a>
                    </nz-popconfirm> -->
            </td>
            <td nz-td *ngIf="_currentTabIndex === 12">
              <span *ngIf="_currentTabIndex !== 1">
                <a (click)="edit(data)">编辑</a>
              </span>
              <span *ngIf="_currentTabIndex !== 11 && data.addNum<=0 && data.shelvesNum<=0">
                <span nz-table-divider></span>
                <a (click)="delete(data)">删除</a>
              </span>
              <span *ngIf="data.addNum > 0 && _currentTabIndex === 13">
                <span nz-table-divider></span>
                <a (click)="dianpingEditPackage(data)">上下架管理</a>
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>
