<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>公寓管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>商务工单列表</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:24px; background: #fff; min-height: 360px;">
        <nz-steps [(nzCurrent)]="current">
            <nz-step [nzTitle]="'选择公寓品牌'"></nz-step>
            <nz-step [nzTitle]="'选择房源'"></nz-step>
            <nz-step [nzTitle]="'服务信息'"></nz-step>
        </nz-steps>

        <div class="steps-content">
            <nz-radio-group [(ngModel)]="radioValue" *ngIf="stepNumber==1">
                <nz-table #nzTable [nzAjaxData]="_dataSet.dataList" [nzPageSize]="10" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_dataSet.page.totalCount"
                    [(nzPageIndex)]="_params.page.currentPage" [(nzPageSize)]="_params.page.pageSize" (nzPageIndexChange)="getApartmentList(_params)"
                    (nzPageSizeChange)="getApartmentList(_params)" [nzSize]="'middle'">
                    <thead nz-thead>
                        <tr>
                            <th nz-th [nzWidth]="'87px'">
                                <span></span>
                            </th>
                            <th nz-th>
                                <span>公寓品牌</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td>
                                <label nz-radio [nzValue]="data.id">
                                </label>
                            </td>
                            <td nz-td>{{data.name}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-radio-group>
            <span *ngIf="stepNumber==2">
                <custom-transfer [nzDataSource]="houseInfo.data" [nzShowSearch]="true" (nzSearchChange)="search($event)" [nzOperations]="['添加房源地址', '移除房源地址']"
                    [nzListStyle]="{'width.px': 408, 'height.px': 445}" (nzSelectChange)="select($event)" (nzChange)="change($event)">
                    <ng-template #render let-item>
                        {{item.address}}
                    </ng-template>
                </custom-transfer>

                <div style="margin-left:260px;padding-top:10px">
                    <span>共{{houseInfo.page.totalCount}}个</span>
                    <button nz-button [disabled]="!preActive" (click)="prePage()" [nzSize]="'small'">上一页</button>
                    <button nz-button [disabled]="!nextActive" (click)="nextPage()" [nzSize]="'small'">下一页</button>
                </div>
            </span>
            <form nz-form [nzType]="'horizontal'" *ngIf="stepNumber==3" style="padding-top:20px">
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="8">
                        <label nz-form-item-required>选择服务商品</label>
                    </div>
                    <div nz-col [nzSpan]="10">
                        <nz-select name="selectedMultipleOption" [nzPlaceHolder]="'选择服务商品'" [(ngModel)]="selectedMultipleOption" [nzNotFoundContent]="'无法找到'"
                            nzShowSearch>
                            <nz-option *ngFor="let option of searchOptions" [nzLabel]="option.goodsName" [nzValue]="option">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="8">
                        <label nz-form-item-required>选择服务时间</label>
                    </div>
                    <div nz-col [nzSpan]="10">
                        <nz-rangepicker name="_dateRange" [(ngModel)]="_dateRange" [nzPlaceholder]="['开始时间', '最迟完成时间']" class="wo-rangepicker"></nz-rangepicker>
                    </div>
                </div>
                <div nz-form-item nz-row *ngIf="selectedMultipleOption.isCleaning">
                    <div nz-form-label nz-col [nzSpan]="8">
                        <label nz-form-item-required>选择服务周期</label>
                    </div>
                    <div nz-col [nzSpan]="10">
                        <nz-select name="period" [nzPlaceHolder]="'选择服务周期'" [(ngModel)]="submitParams.period" [nzNotFoundContent]="'无法找到'" nzShowSearch>
                            <nz-option *ngFor="let option of servicePeriodTypes" [nzLabel]="option.name" [nzValue]="option.id">
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div nz-form-item nz-row>
                    <div nz-form-label nz-col [nzSpan]="8">
                        <label>填写备注</label>
                    </div>
                    <div nz-col [nzSpan]="10">
                        <nz-input name="remark" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'填写备注'" [nzSize]="'large'" [(ngModel)]="submitParams.remark">
                        </nz-input>
                    </div>
                </div>
            </form>
        </div>
        <div class="steps-action">
            <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
                <span>上一步</span>
            </button>
            <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 2">
                <span>下一步</span>
            </button>
            <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 2" [nzLoading]="_submitLoading">
                <span>提交</span>
            </button>
        </div>
    </div>
    <nz-back-top></nz-back-top>
</nz-content>