<div nz-row>
  <div nz-col [nzSpan]="24">
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-input [nzType]="'search'" [nzSize]="'large'" [nzPlaceHolder]="'搜索'" [(ngModel)]="_searchKeywords" (ngModelChange)="filterNodes()"></nz-input>
      </div>
      <div nz-col [nzSpan]="24" style="max-height: 375px;overflow-y: scroll;margin-top: 16px;border: 1px solid #d9d9d9">
        <nz-tree #tree [nzNodes]="_nodes"
          [nzCheckable]="true">
        </nz-tree>
      </div>
    </div>
  </div>
</div>
<div class="customize-footer">
    已添加<span style="color: red">{{selectNum}}</span>个区域
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside($event)" [nzLoading]="_isConfirmLoading" [disabled]="selectNum <= 0" style="margin-left: 8px">
        确 定
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
        取 消
    </button>
</div>