
<nz-content style="margin:0 16px">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>代客下单</nz-breadcrumb-item>
    <nz-breadcrumb-item>录入订单信息</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:20px;background: #fff">
    <form nz-form [formGroup]="_orderMsgForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="40">
        <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
          <div nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label nz-form-item-required for="orderSource">订单来源</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-select
                [(ngModel)]="_reqParam.orderSource"
                (nzSearchChange)="searchChange($event)"
                (ngModelChange)="modelChange($event)"
                [nzShowSearch]="true"
                formControlName="orderSource">
                <nz-option
                  *ngFor="let option of searchOptions"
                  [nzLabel]="option.name"
                  [nzValue]="option"
                  [nzDisabled]="option.disabled">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
          <div nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label for="outTradeNo">渠道订单号</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-input [nzSize]="'large'" [nzId]="'outTradeNo'" [(ngModel)]="_reqParam.outTradeNo" formControlName="outTradeNo"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col nz-form-item [nzMd]="8" [nzSm]="12" [nzXs]="24">
          <div nz-row>
            <div nz-form-label nz-col [nzSpan]="5">
              <label nz-form-item-required for="phone">手机号码</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <nz-input [nzSize]="'large'" [nzId]="'phone'" [(ngModel)]="_reqParam.phone" formControlName="phone"></nz-input>
              <div nz-form-explain *ngIf="getFormControl('phone').dirty && getFormControl('phone').hasError('required')">请填写手机号码</div>
              <div nz-form-explain *ngIf="getFormControl('phone').dirty && getFormControl('phone').hasError('phone')">请填写正确手机号码</div>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="24" style="text-align: right;">
          <button nz-button [nzType]="'primary'" (click)="creatUser()" [disabled]="_orderMsgForm.invalid">搜索</button>
        </div>
      </div>
    </form>
    <div nz-row style="margin-top: 24px" *ngIf="_showServiceList">
      <div nz-col [nzSpan]="24">
        <div class="wgj-content">
          <div class="wgj-section">
            <div class="wgj-section-header">
              <span>选择服务地址</span>
            </div>
            <div class="wgj-section-content">
              <div nz-row>
                <div nz-col [nzSpan]="24" style="margin-bottom: 12px">
                  <button [nzType]="'primary'" style="float: right" nz-button (click)="addAddress()">新增地址</button>
                </div>
              </div>
              <div nz-row *ngIf="_addrListObj.length <= 0">
                <div nz-col [nzSpan]="24" style="margin-bottom: 12px;text-align:center;">
                    暂无地址，请新增服务地址。
                </div>
              </div>
              <div nz-row *ngIf="_addrListObj.length > 0">
                <div nz-col [nzSpan]="24">
                  <nz-radio-group [(ngModel)]="_selectedItem" style="width: 100%">
                    <nz-table [nzAjaxData]="[1,2]" [nzBordered]="true" [nzIsPagination]="false" [nzLoading]="_loading">
                      <thead nz-thead>
                        <tr>
                          <th nz-th>
                            <span></span>
                          </th>
                          <th nz-th>
                            <span>姓名</span>
                          </th>
                          <th nz-th>
                            <span>联系电话</span>
                          </th>
                          <th nz-th>
                            <span>服务地址</span>
                          </th>
                          <th nz-th>
                            <span>操作</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let item of _addrListObj; let i = index">
                          <td nz-td style="text-align:center;"><label nz-radio [nzValue]="item"></label></td>
                          <td nz-td>{{item.name}}</td>
                          <td nz-td>{{item.phone}}</td>
                          <td nz-td>{{item.pname + item.cityname +item.adname +item.poiName+ item.address}}</td>
                          <td nz-td>
                            <a (click)="editAddress(item)">修改</a>
                            <span nz-table-divider></span>
                            <a (click)="deleteAddress(item.id)">删除</a>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row style="margin-top: 12px" *ngIf="_addrListObj.length > 0">
                <div nz-col [nzSpan]="24">
                  <button [nzType]="'primary'" style="float: right" nz-button (click)="goGoosList()" [disabled]="!_selectedItem">下一步</button>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>
