<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>文本类型约束</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-select formControlName="textConstraintType" [nzSize]="'large'" [(ngModel)]="_data[0].textConstraintType">
        <nz-option [nzLabel]="textConstraintType.name" [nzValue]="textConstraintType.id" *ngFor="let textConstraintType of metaData.textConstraintTypes"></nz-option>
      </nz-select>
      <div *ngIf="_data[0].textConstraintType==5"  nz-form-control [nzValidateStatus]="getFormControl('regex')" nzHasFeedback>
          <nz-input formControlName="regex" [nzType]="'text'" [nzPlaceHolder]="'正则表达式必须以\'／\'开头，以\'／\'结尾'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getFormControl('regex').dirty&&getFormControl('regex').hasError('regex')">正则表达式必须以'／'开头，以'／'结尾</div>
          <div nz-form-explain *ngIf="getFormControl('regex').dirty&&getFormControl('regex').hasError('required')">请输入正则表达式</div>
      </div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>文本提醒内容</label>
    </div>
    <div nz-col [nzSpan]="14" nz-form-control [nzValidateStatus]="getFormControl('content')" nzHasFeedback>
        <nz-input formControlName="content" [nzType]="'text'" [nzPlaceHolder]="'请在这里输入提示'" [nzSize]="'large'"[(ngModel)]="_data[0].content">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('content').dirty&&getFormControl('content').hasError('required')">请输入提示信息</div>
    </div>
  </div>
  <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">
          提 交
        </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
          返 回
        </button>
  </div>
</form>

<!-- <div *ngFor="let name of nameChangeLog">{{name}}</div> -->