<nz-content style="margin:0 16px">
  <div nz-row>
    <div nz-col [nzSpan]="24" style="margin:12px 0;">
      <nz-breadcrumb>
        <nz-breadcrumb-item>供应商管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{_from == 'add' ? '新增供应商': '编辑供应商'}}</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{_from == 'add' ? '添加经营品类范围': '编辑经营品类范围'}}</nz-breadcrumb-item>
      </nz-breadcrumb>
      <button style="float: right" nz-button [nzType]="'primary'" (click)="goBack()">返回</button>
    </div>
  </div>
 
  <div style="padding:20px;background: #fff">
    <div nz-row *ngIf="_from == 'add'">
      <div nz-col [nzSpan]="24">
        <nz-steps [(nzCurrent)]="_current">
          <nz-step [nzTitle]="'填写基本信息'"></nz-step>
          <nz-step [nzTitle]="'添加经营品类范围'"></nz-step>
          <nz-step [nzTitle]="'结算佣金设置'"></nz-step>
        </nz-steps>
      </div>
    </div>
    <div nz-row style="margin-top: 24px;" class="ps-r">
      <div nz-col [nzSpan]="24" style="overflow: hidden">
          <nz-table [nzAjaxData]="[1,2]" [nzBordered]="true" [nzIsPagination]="false">
            <thead nz-thead>
              <tr>
                <th nz-th>
                  <span>供应商名称</span>
                </th>
                <th nz-th>
                  <span>账户名</span>
                </th>
                <th nz-th>
                  <span>类型</span>
                </th>
                <th nz-th>
                  <span>联系电话</span>
                </th>
                <th nz-th>
                  <span>入驻时间</span>
                </th>
                <th nz-th>
                  <span>状态</span>
                </th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr nz-tbody-tr>
                <td nz-td>{{_data.serviceName}}</td>
                <td nz-td>{{_data.username}}</td>
                <td nz-td>{{_data.serviceTypes[0].name}}</td>
                <td nz-td>{{_data.phone}}</td>
                <td nz-td>{{_data.createTime | date:"yyyyMMdd HHmm"}}</td>
                <td nz-td>{{_data.status | providerStatusPipe}}</td>
              </tr>
            </tbody>
        </nz-table>
      </div>
    
      <div nz-col [nzSpan]="24" style="width: 400px;margin-top: 24px">
        <div nz-row>
          <div nz-col [nzSpan]="24">
              <div nz-row>
                <div nz-col [nzSpan]="24" style="color: red">
                    *请按照合同上的经营品类范围选择供应商的经营范围。
                </div>
                <div nz-col [nzSpan]="24" style="margin-top: 24px">
                    <nz-input [nzType]="'search'" [nzSize]="'large'" [nzPlaceHolder]="'输入您想搜索的品类名称'" [(ngModel)]="_searchKeywords" (ngModelChange)="filterNodes()"></nz-input>
                </div>
                <div nz-col [nzSpan]="24" style="height: 375px;overflow-y: scroll;margin-top: 24px;border: 1px solid #d9d9d9">
                  <nz-tree #tree [nzNodes]="_nodes"
                    [nzCheckable]="true"
                    [nzOptions]="_options">
                  </nz-tree>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div nz-col [nzSpan]="24" style="margin-top: 24px">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="_saveLoading" (click)="save()">保存</button>
      </div>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>









