<nz-content style="margin:0 16px">
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>渠道管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>运营</nz-breadcrumb-item>
      <nz-breadcrumb-item>套餐管理</nz-breadcrumb-item>
      <nz-breadcrumb-item>dianping</nz-breadcrumb-item>
      <nz-breadcrumb-item>查看商品</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{data.name}}</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:20px;background: #fff">
      <div nz-form novalidate>
        <div nz-row class="section">
          <div nz-col [nzSpan]="24" class="section-header">
            <h3 class="section-title">基本信息</h3>
          </div>
          <div nz-col [nzSpan]="24" class="section-body">
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required for="name">渠道商品名称</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                {{data.name}}
              </div>
            </div>
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required>商品预览图</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                <img src="{{data.thumbUrl | imgPipe:40}}" alt="">
              </div>
            </div>
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required>商品详情图</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                <ng-container *ngFor="let item of imagesUrls">
                  <img *ngIf="item" src="{{item | imgPipe: ''}}" alt="" width="100px" height="90px">
                </ng-container>
              </div>
            </div>
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required for="minOrders">最小够买份数</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                <span>{{data.minOrders}}</span>
              </div>
            </div>
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required for="maxOrders">最大够买份数</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                  <span>{{data.maxOrders}}</span>
              </div>
            </div>
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required for="rank">排序</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                  <span>{{data.maxOrders}}</span>
              </div>
            </div>
            <div nz-row nz-form-item>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required>点评品类</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="14">
                  <span>{{serverTypeFilter(data.serviceId)}}</span>
              </div>
            </div>
            <div nz-row>
              <div nz-form-label nz-col [nzSpan]="4">
                <label nz-form-item-required>SKU</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="18">
                <nz-table #nzTable [nzDataSource]="data.channelPackageDTOList ? data.channelPackageDTOList : []" [nzPageSize]="10" [nzIsPagination]="false">
                  <thead nz-thead>
                    <tr>
                      <th nz-th>
                        <span>套餐名称</span>
                      </th>
                      <th nz-th>
                        <span>渠道原价(元)</span>
                      </th>
                      <th nz-th>
                        <span>需提前预约时长(分钟)</span>
                      </th>
                      <th nz-th>
                        <span>服务时长(分钟)</span>
                      </th>
                      <th nz-th>
                        <span>渠道价(元)</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                      <td nz-td>
                        <span>{{data.name}}</span>
                      </td>
                      <td nz-td>
                          <span>{{data.originalPrice}}</span>
                      </td>
                      <td nz-td>
                          <span>{{data.processTime}}</span>
                      </td>
                      <td nz-td>
                          <span>{{data.duration}}</span>
                      </td>
                      <td nz-td>
                          <span>{{data.price}}</span>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div nz-row class="section">
        <div nz-col [nzSpan]="24" class="section-header">
          <h3 class="section-title">覆盖城市</h3>
          <p>PS:配置该虚拟商品覆盖对应渠道的城市</p>
        </div>
        <div nz-col [nzSpan]="24" class="section-body">
          <div nz-row nz-form-item>
            <div nz-form-label nz-col [nzSpan]="4">
              <!-- <label nz-form-item-required for="name">渠道商品名称</label> -->
            </div>
            <div nz-form-control nz-col [nzSpan]="19">
              <custom-filter-list [nzDataSource]="data.channelCityDTOList" [nzShowSearch]="true"
              [nzOperations]="['', '']" [nzListStyle]="{'width.px': 250, 'height.px': 300}"
              >
              <ng-template #render let-item>
                  {{item.cityName}}
                </ng-template>
            </custom-filter-list>
            </div>
          </div>
        </div>
      </div>
      <div nz-row class="section">
        <div nz-col [nzSpan]="24" class="section-header">
          <h3 class="section-title">详细信息</h3>
        </div>
        <div nz-col [nzSpan]="24" class="section-body">
          <div nz-row nz-form-item>
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="name">简介</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <p>{{data.agstract}}</p>
            </div>
          </div>
          <div nz-row nz-form-item>
            <div nz-form-label nz-col [nzSpan]="4">
              <label nz-form-item-required for="name">详细描述</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
                <p>{{data.description}}</p>
            </div>
          </div>
          <div nz-row nz-form-item>
            <div nz-form-label nz-col [nzSpan]="4">
              <label nz-form-item-required for="name">图文详情</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="14">
              <nz-table #ImageTextDataSet [nzAjaxData]="data.imageTextDTOList" [nzIsPagination]="false">
                <thead nz-thead>
                  <tr>
                    <th nz-th>
                      <span>序号</span>
                    </th>
                    <th nz-th>
                      <span>内容</span>
                    </th>
                  </tr>
                </thead>
                <tbody nz-tbody>
                  <tr nz-tbody-tr *ngFor="let data of ImageTextDataSet.data; let i = index">
                    <td nz-td>
                      <span>{{i}}</span>
                    </td>
                    <td nz-td *ngIf="data.type === 1">
                      <img src="{{data.content | imgPipe: '110'}}" alt="data.type">
                    </td>
                    <td nz-td *ngIf="data.type === 2">
                      <span>{{data.content}}</span>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nz-back-top></nz-back-top>
  </nz-content>
  