
.section {
    border: 1px solid #ececec;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section-header {
    padding: 10px;
    background-color: #ececec;
}

.section-body {
    padding: 10px 10px;
}

