<div>
  <nz-steps [(nzCurrent)]="current">
    <nz-step [nzTitle]="'选择供应商'">
    </nz-step>
    <nz-step [nzTitle]="'选择城市'"></nz-step>
  </nz-steps>
  <div class="steps-content" [hidden]="current === 1">
    <div class="header">
      <div nz-row [nzGutter]="40">
          <div nz-col [nzSpan]="20">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col [nzSpan]="6">
                <label [attr.for]="serviceName">供应商</label>
              </div>
              <div nz-form-control nz-col [nzSpan]="12">
                <nz-input [nzSize]="'large'" [(ngModel)]="_params.serviceName" [nzPlaceHolder]="'供应商'"></nz-input>
              </div>
              <div nz-form-label nz-col [nzSpan]="6">
                  <button nz-button [nzType]="'primary'" (click)="getSupplierList(true)">
                      <i class="anticon anticon-search"></i>
                      <span>搜索</span>
                    </button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="isLoading" [nzTotal]="_total" [(nzPageIndex)]="_params.page.currentPage"
      (nzPageIndexChange)="getSupplierList(false)" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="getSupplierList(true)"
      [nzShowTotal]="true" [nzScroll]="{ y: 300 }">
      <thead nz-thead>
        <tr>
          <th nz-th [nzCheckbox]="true">
            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
            </label>
          </th>
          <th nz-th>
            <span>供应商名称</span>
          </th>
          <th nz-th>
            <span>供应商账户</span>
          </th>
          <th nz-th>
            <span>类型</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td nz-td [nzCheckbox]="true">
            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
            </label>
          </td>
          <td nz-td>
            {{data.serviceName}}
          </td>
          <td nz-td>
            {{data.username}}
          </td>
          <td nz-td>
            {{data.serviceTypeName}}
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="steps-content" [hidden]="current === 0">
      <div nz-col style="height: 300px; width: 250px; overflow-y: scroll;background-color:#fff;text-align: left; margin: 0 auto;">
        <nz-tree #tree [nzNodes]="nodes"
          [nzCheckable]="true"
          [nzOptions]="options">
        </nz-tree>
      </div>
  </div>
  <div class="steps-action">
    <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
      <span>上一步</span>
    </button>
    <button nz-button [nzType]="'default'" (click)="next()" *ngIf="(current < 1) && (_indeterminate || _allChecked)">
      <span>下一步</span>
    </button>
    <button nz-button [nzType]="'primary'" (click)="_submitForm()" *ngIf="current === 1">
      <span>添加</span>
    </button>
  </div>
</div>
