<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>渠道管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>派单管理</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background:#fff; min-height: 360px;">
    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="20">
        <div nz-col  [nzMd]="5" [nzSm]="12" [nzXs]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="8" [nzSm]="3" [nzXs]="2">
              <label [attr.for]="goodName">供应商</label>
            </div>
            <div nz-form-control nz-col [nzMd]="16" [nzSm]="12" [nzXs]="12">
              <nz-input [nzSize]="'large'" [(ngModel)]="_params.providerName" [nzPlaceHolder]="'供应商'" formControlName="providerName"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col  [nzMd]="5" [nzSm]="12" [nzXs]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="8" [nzSm]="3" [nzXs]="2">
              <label [attr.for]="cityName">城市</label>
            </div>
            <div nz-form-control nz-col [nzMd]="16" [nzSm]="12" [nzXs]="12">
              <nz-input [nzSize]="'large'" [(ngModel)]="_params.cityName" [nzPlaceHolder]="'城市'" formControlName="cityName"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col  [nzMd]="5" [nzSm]="12" [nzXs]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="8" [nzSm]="3" [nzXs]="2">
              <label [attr.for]="goodsTypeName">品类</label>
            </div>
            <div nz-form-control nz-col [nzMd]="16" [nzSm]="12" [nzXs]="12">
              <nz-input [nzSize]="'large'" [(ngModel)]="_params.goodsTypeName" [nzPlaceHolder]="'品类'" formControlName="goodsTypeName"></nz-input>
            </div>
          </div>
        </div>
        <div nz-col  [nzMd]="5" [nzSm]="12" [nzXs]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="8" [nzSm]="3" [nzXs]="2">
              <label [attr.for]="goodsTypeName">权重</label>
            </div>
            <div nz-form-control nz-col [nzMd]="16" [nzSm]="12" [nzXs]="12">
              <nz-select nzAllowClear style="width: 150px;" [(ngModel)]="_params.sort" [nzSize]="size" formControlName="sort" [nzPlaceHolder]="'权重'">
                <nz-option *ngFor="let item of _weights" [nzLabel]="item.name" [nzValue]="item.id">
                </nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div nz-col [nzMd]="4" [nzSm]="12" [nzXs]="24">
          <button nz-button [nzType]="'primary'" (click)="search()">
            <i class="anticon anticon-search"></i>
            <span>搜索</span>
          </button>
          <button nz-button [nzType]="'default'" (click)="resetForm($event)">
            <span>重置</span>
          </button>
        </div>
      </div>
    </form>
    <button nz-button [nzType]="'primary'" style="margin-top:15px;" (click)="addResourse($event)">
      <i class="anticon anticon-plus"></i>
      <span>新增</span>
    </button>
    <div class="search-result-list">
      <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_params.page.currentPage"
        (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="refreshData(true)" [nzShowTotal]="true">
        <thead nz-thead>
          <tr>
            <th>供应商</th>
            <th>城市</th>
            <th>
              <span>派单权重</span>
              <nz-tooltip [nzTitle]="'权重值：权重根据公式计算所得，影响权重的参数有接单率、饱和线、推新指数、严选打分等。'">
                <i nz-tooltip class="anticon anticon-exclamation-circle"></i>
              </nz-tooltip>
            </th>
            <th>
              <span>接单率</span>
              <nz-tooltip [nzTitle]="'接单率：供应商在一定周期内的接单比率。接单率＝供应商接单数／流转给供应商的单数（用户手动取消订单不影响用户供应商接单数，供应商方面取消订单将减少相应接单数）'">
                <i nz-tooltip class="anticon anticon-exclamation-circle"></i>
              </nz-tooltip>
            </th>
            <th>
              <span>饱和线</span>
              <nz-tooltip [nzTitle]="'饱和线：衡量供应商的接单能力，供应商一天内能接收订单的最大数量。为运营和商务部分整理出的整数值。'">
                <i nz-tooltip class="anticon anticon-exclamation-circle"></i>
              </nz-tooltip>
            </th>
            <th>
              <span>推荐指数</span>
              <nz-tooltip [nzTitle]="'推荐指数：表示推荐的程度，为常量：0表示不推荐，10表示非常推荐。'">
                <i nz-tooltip class="anticon anticon-exclamation-circle"></i>
              </nz-tooltip>
            </th>
            <th>
              <span>是否推新</span>
              <nz-tooltip [nzTitle]="'是否推新：对于新增的供应商是否推广。否＝0表示不推新；是=1表示推新，此时的推荐指数影响权重。设置“是否推新”时间点后30天，恢复默认值0（不推新）'">
                <i nz-tooltip class="anticon anticon-exclamation-circle"></i>
              </nz-tooltip>
            </th>
            <th>
              <span>严选打分</span>
              <nz-tooltip [nzTitle]="'严选打分：商务对于供应商的综合评分。0-1分表示从差到好。'">
                <i nz-tooltip class="anticon anticon-exclamation-circle"></i>
              </nz-tooltip>
            </th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>{{data.providerName}}</td>
            <td nz-td>{{data.cityName}}</td>
            <td nz-td>{{translateNumber(data.weight)}}</td>
            <td nz-td>{{data.orderAcceptRate}}</td>
            <td nz-td>
              <span *ngIf="editRow!==data.id">{{data.limitedLine}}</span>
              <span *ngIf="editRow===data.id">
                <nz-input-number [(ngModel)]="tempEditObject[data.id].limitedLine" [nzMin]="0" [nzStep]="1"></nz-input-number>
              </span>
            </td>
            <td nz-td>
              <span *ngIf="editRow!==data.id">{{data.recommandIndex}}</span>
              <span *ngIf="editRow===data.id">
                <nz-input-number [(ngModel)]="tempEditObject[data.id].recommandIndex" [nzMin]="0" [nzStep]="0.1"></nz-input-number>
              </span>
            </td>
            <td nz-td>
              <span *ngIf="!(data.availableForNew || data.isNew) || editRow!==data.id">{{data.isNew ? '是' : '否'}}</span>
              <span *ngIf="(editRow===data.id) && (data.availableForNew || data.isNew)">
                <nz-select nzAllowClear style="width:50px;" [(ngModel)]="tempEditObject[data.id].isNew"  [nzPlaceHolder]="'推新'">
                    <nz-option [nzLabel]="'是'" [nzValue]="true">
                    </nz-option>
                    <nz-option [nzLabel]="'否'" [nzValue]="false">
                      </nz-option>
                  </nz-select>
              </span>
            </td>
            <td nz-td>
              <span *ngIf="editRow!==data.id">{{data.quantityIndex}}</span>
              <span *ngIf="editRow===data.id">
                <nz-input-number [(ngModel)]="tempEditObject[data.id].quantityIndex" [nzMin]="0" [nzStep]="0.01"></nz-input-number>
              </span>
            </td>
            <td nz-td>
              <span>
                <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delete(data)">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
                <span nz-table-divider></span>
                <span *ngIf="editRow!==data.id">
                  <a (click)="edit(data)">编辑</a>
                </span>
                <span *ngIf="editRow===data.id">
                  <nz-popconfirm [nzTitle]="'确认保存?'" (nzOnConfirm)="save(data)">
                      <a nz-popconfirm>保存</a>
                    </nz-popconfirm>
                  <span nz-table-divider></span>
                  <a (click)="cancel(data)">取消</a>
                </span>
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
