.wgj-section{
	border:none;
}
.wgj-section-content{

	background-color:#fff;
	.static-height{
		height:350px;
	}
	.active{
		color:red;
	}	
	li{
		height:35px;
		line-height:35px;
		border-bottom:1px solid #dcdcdc;
		cursor:pointer;
	}
	li:last-child{
		border:none;
	}
	.action{
		text-align:center;
		margin-bottom:30px;
	}
	.action button{
		border-radius:50%;
		border:none;
		color:#fff;
		width:40px;
		height:40px;
		line-height:40px;
		text-align:center;
		margin:0 10px;
	}
	.btn-primary{
		background-color:#108ee9;
	}
	.btn-danger{
		background-color:#f44336;
	}
	.btn-accent{
		background-color:#00bcd4;
	}
}
.left-content{
	height:600px;
	background-color:#fff;
}
.right-content{
	height:600px;
	padding-left:24px;
	overflow:hidden;
	.wgj-section{
		background-color:#fff;
		height:100%;
		padding-left:24px;
	}
	li{
		height:30px;
	}
	.fix-area{
		height:75px;
		padding:10px 0;
		border-bottom:1px solid #dcdcdc;

		h2{
			margin-bottom:10px;
		}
		button{
			margin:0 10px;
		}
	}
	.scroll-area{
		height:525px;
		width:100%;
		overflow:auto;
		padding-top:10px;
	}
}