<div>
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="10" [nzSm]="10" [nzXs]="10">
                <label [attr.for]="name">渠道名称</label>
              </div>
          <div nz-form-control nz-col [nzMd]="14" [nzSm]="14" [nzXs]="14">
            <nz-input formControlName="name" [(ngModel)]="_params.name" [nzPlaceHolder]="'名称'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <button nz-button [nzType]="'primary'" (click)="refreshData(true)">
          <span>搜索</span>
        </button>
    </form>
  <div class="search-result-list">
      <nz-table #nzTable [nzAjaxData]="dataSet" nzShowSizeChanger [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="_params.page.currentPage"
        (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="refreshData()" [nzShowTotal]="true">
        <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th>名称</th>
            <th nz-th>状态</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td nzCheckbox>
              <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
              </label>
            </td>
            <td nz-td>{{data.channelName}}</td>
            <td nz-td>{{data.status === 1 ? '待开启' : '开启'}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  <div class="customize-footer">
    <button nz-button [disabled]="!(_indeterminate || _allChecked)" [nzType]="'primary'" [nzSize]="'large'" (click)="confirm()">
      提交
    </button>
  </div>
</div>
