<nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:12px 0;">
      <nz-breadcrumb-item>投放渠道</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:24px; background: #fff; min-height: 360px;">
      <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="10" [nzSm]="10" [nzXs]="10">
                <label [attr.for]="name">渠道名称</label>
              </div>
          <div nz-form-control nz-col [nzMd]="14" [nzSm]="14" [nzXs]="14">
            <nz-input formControlName="name" [(ngModel)]="_params.name" [nzPlaceHolder]="'名称'" [nzSize]="'large'">
            </nz-input>
          </div>
        </div>
        <button nz-button [nzType]="'primary'" (click)="refreshData(true)">
          <span>搜索</span>
        </button>
  
      <button nz-button [nzType]="'primary'" style="float: right;" (click)="addNew()">
          <i class="anticon anticon-plus"></i>
          <span>添加渠道</span>
        </button>
      </form>
      <div class="operations" style="margin-top: 32px;">
          <button nz-button [disabled]="!(_allChecked || _indeterminate)" [nzType]="'primary'" (click)="batchDelte()">
              <span>批量删除</span>
            </button>
      </div>
      <div class="search-result-list">
        <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_params.page.currentPage"
          (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_params.page.pageSize" (nzPageSizeChange)="refreshData()" [nzShowTotal]="true">
          <thead nz-thead>
            <tr>
                <th nz-th nzCheckbox>
                    <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                    </label>
                  </th>
              <th nz-th>渠道名称</th>
              <th nz-th>状态</th>
              <th nz-th>操作</th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td nzCheckbox>
                    <label nz-checkbox [nzDisabled]="data.disabled" [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                    </label>
                  </td>
              <td nz-td>{{data.channelName}}</td>
              <td nz-td>{{data.status === 0 ? '关闭' : data.status === 1 ? '待开启' : '开启'}}</td>
              <td nz-td>
                <a href="javascript:;" (click)="delete(data)">删除</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-content>
  