<div>
  <div class="content">
    <div nz-form>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="reason" nz-form-item-required>原因</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
          <nz-select style="width: 284px;" [(ngModel)]="submitParams.reasonId" [nzPlaceHolder]="'选择'" nzAllowClear>
            <nz-option
              *ngFor="let option of metadata.dropOrderReasons"
              [nzLabel]="option.desc"
              [nzValue]="option.id"
              [nzDisabled]="option.disabled">
            </nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="desc">详细说明</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
          <nz-input [(ngModel)]="submitParams.desc" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'说明'"></nz-input>
          <div style="color: red;">不接单后无法再次发起订单，请再次确认！</div>
        </div>
      </div>
    </div>
  </div>
  <div class="customize-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [disabled]="!submitParams.reasonId" [nzLoading]="isLoading" [nzType]="'primary'" [nzSize]="'large'" (click)="_submitForm($event)">
      提交
    </button>
  </div>
</div>
