<div>
  <form nz-form>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">商品名称</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.goodName}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">数量</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.count}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">售价</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.price}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">供应商</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.providerName}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">买家姓名</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.customerName}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">买家手机号</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.phone}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">服务地址</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.address}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">服务时间</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.deliveryTime}}</span>
        <a (click)="updateTime()">修改</a><span style="color: red; display:inline-block; margin-left:10px;" *ngIf="showServiceTimeToast">请修改服务时间!</span>
      </div>
    </div>
    <div class="pick-time" *ngIf="isShowPickTime && orderServiceTimes.length">
      <nz-tabset>
        <nz-tab *ngFor="let tab of orderServiceTimes">
          <ng-template #nzTabHeading>
            <p>{{tab.title}}</p>
            <p>{{tab.date}}</p>
          </ng-template>
          <div class="time-content">
            <ng-container *ngFor="let item of tab.items">
              <button nz-button [disabled]="!item.enabled" [nzType]="'default'" [nzSize]="'large'" (click)="pickTime(item, $event)">
                {{item.title}}
              </button>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
  </form>
  <div class="customize-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [disabled]="showServiceTimeToast" [nzLoading]="isLoading" [nzType]="'primary'" [nzSize]="'large'" (click)="_submitForm($event)">
      提交
    </button>
  </div>
</div>
