<div>
  <div>
    <div nz-row>
      <div class="section" nz-col [nzSm]="24">
        <div class="section-header">
          <h2>渠道订单信息</h2>
        </div>
        <div class="section-body">
          <div nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="content">服务名称</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
              <span>{{dataItems.vitualGoodsName}}</span>
            </div>
          </div>
          <div nz-row>
            <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
              <label for="content">数量</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
              <span>{{dataItems.virtualGoodsCount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">商品名称</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.goodName}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">数量</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span *ngIf="!editCountFlag">{{dataItems.count}}</span>
        <nz-input-number *ngIf="editCountFlag" [(ngModel)]="tempCount" [nzMin]="dataItems.minOrders" [nzMax]="maxCount" [nzStep]="1"></nz-input-number>
        <a *ngIf="!editCountFlag" (click)="editCount()" style="display:inline-block; margin-left:10px">编辑</a>
        <a *ngIf="editCountFlag" (click)="saveCount(tempCount)">保存</a>
        <a *ngIf="editCountFlag" (click)="editCountFlag = false">取消</a>
        <span style="display:inline-block; margin-left:10px">{{countTips}}</span>
        <span *ngIf="isShowCountToast" style="color: red;text-indent: -8px;">请修改数量!</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">售价</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.price}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">供应商</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.providerName}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">买家姓名</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.customerName}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">买家手机号</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.phone}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">服务地址</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span>{{dataItems.address}}</span>
      </div>
    </div>
    <div nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">服务时间</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <span *ngIf="!editTime">{{dataItems.deliveryTime}}</span>
        <nz-datepicker *ngIf="editTime" [(ngModel)]="tempTime" nzShowTime [nzPlaceHolder]="'Select date'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        <!-- <nz-datepicker *ngIf="editTime" [(ngModel)]="dataItems.deliveryTime" [nzPlaceHolder]="'选择时间'"></nz-datepicker> -->
        <a *ngIf="!editTime" (click)="updateTime()">修改</a>
        <a *ngIf="editTime" (click)="saveTime()">保存</a>
        <a *ngIf="editTime" (click)="editTime = false;">取消</a>
        <span style="color: red; display:inline-block; margin-left:10px;" *ngIf="showServiceTimeToast">请修改服务时间!</span>
      </div>
    </div>
    <div class="pick-time" *ngIf="isShowPickTime && orderServiceTimes.length">
      <nz-tabset>
        <nz-tab *ngFor="let tab of orderServiceTimes">
          <ng-template #nzTabHeading>
            <p>{{tab.title}}</p>
            <p>{{tab.date}}</p>
          </ng-template>
          <div class="time-content">
            <ng-container *ngFor="let item of tab.items">
              <button nz-button [disabled]="!item.enabled" [nzType]="'default'" [nzSize]="'large'" (click)="pickTime(item, $event)">
                {{item.title}}
              </button>
            </ng-container>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <div nz-row style="margin-top: 20px">
      <div nz-form-control nz-col [nzOffset]="6" [nzSm]="18" [nzXs]="18">
        <span>提示：供应商会收到订单提示短信，如果供应商再不接单则此订单无法再次发起</span>
      </div>
    </div>
  </div>
  <div class="customize-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [disabled]="showServiceTimeToast" [nzLoading]="isLoading" [nzType]="'primary'" [nzSize]="'large'" (click)="_submitForm($event)">
      提交
    </button>
  </div>
</div>
