.gis-span{
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gis-searchContainer{
    width: 100%;
    position:absolute;
    top:40px;
    left:0;
    z-index: 9999;
    background-color: #fff;
    .gis-searchContainer-ul{
        width: 100%;
        height: auto;
        list-style: none;
        padding: 0 15px;
        .gis-searchContainer-li{
            width: 100%;
            cursor: pointer;
            margin-top: 10px;
            .gis-searchContainer-li-span{
                margin-right: 10px;
            }
        }
    }
    >div{
        text-align: center;
    }
}

