<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>帮助中心</nz-breadcrumb-item>
    <nz-breadcrumb-item>文档列表</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="20">
        <div nz-col [nzMd]="20" [nzSm]="12" [nzXs]="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzMd]="6" [nzSm]="6" [nzXs]="6">
              <nz-input [nzSize]="'large'" [(ngModel)]="commitData.keyWords" [nzPlaceHolder]="'输入文档标题关键字/内容关键字'" formControlName="keyWords"></nz-input>
            </div>
            <div nz-form-control nz-col [nzMd]="18" [nzSm]="18" [nzXs]="18" style="padding-left:8px;">
              <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
            </div>
          </div>
        </div>
        <div nz-col [nzMd]="4" style="text-align: right;">
            <button nz-button [nzType]="'primary'" (click)="addDoc()">新增文档</button>
          </div>
      </div>
    </form>
    <div class="search-result-list">
      <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="commitData.page.currentPage"
        (nzPageIndexChange)="refreshData()" [(nzPageSize)]="commitData.page.pageSize" (nzPageSizeChange)="refreshData(true)" [nzShowTotal]="true">
        <thead nz-thead>
          <tr>
            <th nz-th [nzWidth]="'70%'">标题</th>
            <th nz-th [nzWidth]="'15%'">发布时间</th>
            <th nz-th [nzWidth]="'15%'">操作</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>
                <a href="javascript:;" (click)="check(data)">{{data.title}} </a><i *ngIf="data.existAnnex" class="anticon anticon-paper-clip"></i>
            </td>
            <td nz-td>{{data.updateTime | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
            <td nz-td>
                <a (click)="editDoc(data)">编辑</a>
                <span nz-table-divider></span>
                <a (click)="delete(data)">删除</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
