custom-transfer {
    display: block;
}
.transfer-list {
    position: relative;
    width: 180px;
    height: 200px;
    padding-top: 33px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d9d9d9;
    border-radius: 4px 4px 0 0;
}

.transfer-operation {
    display: inline-block;
    overflow: hidden;
    margin: 0 8px;
    vertical-align: middle;
    button {
        display: block;
        margin: 4px 0;
    }
}