.doc {
	font-size: 13px;
	cursor: text;
	line-height: 1.6;
    word-wrap: break-word;
}

.doc-header {
	text-align: center;
	.info {
		margin-top: 10px;
	}
}

.doc-body {
	font-size: 13px;
	line-height: 1.6;
	// word-wrap: break-word;
	// color: #333;
	// background-color: #fff;
	margin: 40px 0;
}

:host ::ng-deep .doc-body{
	blockquote{margin: 13px 40px;}
	p { margin: 1.12em 0; }
	ol {list-style-type: decimal;}
	ul {list-style-type: disc;}
	th,td {padding: 5px;}

	.cke_editable{cursor:text}.cke_editable img,.cke_editable input,.cke_editable textarea{cursor:default}
	.cke_contents_ltr a.cke_anchor,.cke_contents_ltr a.cke_anchor_empty,.cke_editable.cke_contents_ltr a[name],.cke_editable.cke_contents_ltr a[data-cke-saved-name]{background:url(http://cdn.ckeditor.com/4.9.1/standard-all/plugins/link/images/anchor.png?t=I2QI) no-repeat left center;border:1px dotted #00f;background-size:16px;padding-left:18px;cursor:auto;}.cke_contents_ltr img.cke_anchor{background:url(http://cdn.ckeditor.com/4.9.1/standard-all/plugins/link/images/anchor.png?t=I2QI) no-repeat left center;border:1px dotted #00f;background-size:16px;width:16px;min-height:15px;height:1.15em;vertical-align:text-bottom;}.cke_contents_rtl a.cke_anchor,.cke_contents_rtl a.cke_anchor_empty,.cke_editable.cke_contents_rtl a[name],.cke_editable.cke_contents_rtl a[data-cke-saved-name]{background:url(http://cdn.ckeditor.com/4.9.1/standard-all/plugins/link/images/anchor.png?t=I2QI) no-repeat right center;border:1px dotted #00f;background-size:16px;padding-right:18px;cursor:auto;}.cke_contents_rtl img.cke_anchor{background:url(http://cdn.ckeditor.com/4.9.1/standard-all/plugins/link/images/anchor.png?t=I2QI) no-repeat right center;border:1px dotted #00f;background-size:16px;width:16px;min-height:15px;height:1.15em;vertical-align:text-bottom;}
	.cke_show_borders  table.cke_show_border,.cke_show_borders  table.cke_show_border > tr > td, .cke_show_borders  table.cke_show_border > tr > th,.cke_show_borders  table.cke_show_border > tbody > tr > td, .cke_show_borders  table.cke_show_border > tbody > tr > th,.cke_show_borders  table.cke_show_border > thead > tr > td, .cke_show_borders  table.cke_show_border > thead > tr > th,.cke_show_borders  table.cke_show_border > tfoot > tr > td, .cke_show_borders  table.cke_show_border > tfoot > tr > th{border : #d3d3d3 1px dotted}
	.cke_widget_wrapper{position:relative;outline:none}.cke_widget_inline{display:inline-block}.cke_widget_wrapper:hover>.cke_widget_element{outline:2px solid #ffd25c;cursor:default}.cke_widget_wrapper:hover .cke_widget_editable{outline:2px solid #ffd25c}.cke_widget_wrapper.cke_widget_focused>.cke_widget_element,.cke_widget_wrapper .cke_widget_editable.cke_widget_editable_focused{outline:2px solid #47a4f5}.cke_widget_editable{cursor:text}.cke_widget_drag_handler_container{position:absolute;width:15px;height:0;display:none;opacity:0.75;transition:height 0s 0.2s;line-height:0}.cke_widget_wrapper:hover>.cke_widget_drag_handler_container{height:15px;transition:none}.cke_widget_drag_handler_container:hover{opacity:1}img.cke_widget_drag_handler{cursor:move;width:15px;height:15px;display:inline-block}.cke_widget_mask{position:absolute;top:0;left:0;width:100%;height:100%;display:block}.cke_editable.cke_widget_dragging, .cke_editable.cke_widget_dragging *{cursor:move !important}
	.cke_upload_uploading img{opacity: 0.3}
	.cke_image_nocaption{line-height:0}.cke_editable.cke_image_sw, .cke_editable.cke_image_sw *{cursor:sw-resize !important}.cke_editable.cke_image_se, .cke_editable.cke_image_se *{cursor:se-resize !important}.cke_image_resizer{display:none;position:absolute;width:10px;height:10px;bottom:-5px;right:-5px;background:#000;outline:1px solid #fff;line-height:0;cursor:se-resize;}.cke_image_resizer_wrapper{position:relative;display:inline-block;line-height:0;}.cke_image_resizer.cke_image_resizer_left{right:auto;left:-5px;cursor:sw-resize;}.cke_widget_wrapper:hover .cke_image_resizer,.cke_image_resizer.cke_image_resizing{display:block}.cke_widget_wrapper>a{display:inline-block}
	
	.cke_editable
	{
		font-size: 13px;
		line-height: 1.6;

		/* Fix for missing scrollbars with RTL texts. (#10488) */
		word-wrap: break-word;
	}

	blockquote
	{
		font-style: italic;
		font-family: Georgia, Times, "Times New Roman", serif;
		padding: 2px 0;
		border-style: solid;
		border-color: #ccc;
		border-width: 0;
	}

	.cke_contents_ltr blockquote
	{
		padding-left: 20px;
		padding-right: 8px;
		border-left-width: 5px;
	}

	.cke_contents_rtl blockquote
	{
		padding-left: 8px;
		padding-right: 20px;
		border-right-width: 5px;
	}

	a
	{
		color: #0782C1 !important;
	}

	ol,ul,dl
	{
		/* IE7: reset rtl list margin. (#7334) */
		*margin-right: 0px !important;
		/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
		padding: 0 40px !important;
	}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: normal !important;
		line-height: 1.2 !important;
	}

	hr
	{
		border: 0px !important;
		border-top: 1px solid #ccc !important;
	}

	img.right
	{
		border: 1px solid #ccc !important;
		float: right !important;
		margin-left: 15px !important;
		padding: 5px !important;
	}

	img.left
	{
		border: 1px solid #ccc !important;
		float: left !important;
		margin-right: 15px !important;
		padding: 5px !important;
	}

	pre
	{
		white-space: pre-wrap !important; /* CSS 2.1 */
		word-wrap: break-word !important; /* IE7 */
		-moz-tab-size: 4 !important;
		tab-size: 4 !important;
	}

	.marker
	{
		background-color: Yellow;
	}

	span[lang]
	{
		font-style: italic !important;
	}

	figure
	{
		text-align: center !important;
		outline: solid 1px #ccc !important;
		background: rgba(0,0,0,0.05) !important;
		padding: 10px !important;
		margin: 10px 20px !important;
		display: inline-block !important;
	}

	figure > figcaption
	{
		text-align: center !important;
		display: block; /* For IE8 */
	}

	a > img {
		padding: 1px !important;
		margin: 1px !important;
		border: none !important;
		outline: 1px solid #0782C1 !important;
	}

	/* Widget Styles */
	.code-featured
	{
		border: 5px solid red;
	}

	.math-featured
	{
		padding: 20px;
		box-shadow: 0 0 2px rgba(200, 0, 0, 1);
		background-color: rgba(255, 0, 0, 0.05);
		margin: 10px;
	}

	.image-clean
	{
		border: 0;
		background: none;
		padding: 0;
	}

	.image-clean > figcaption
	{
		font-size: .9em;
		text-align: right;
	}

	.image-grayscale
	{
		background-color: white;
		color: #666;
	}

	.image-grayscale img, img.image-grayscale
	{
		filter: grayscale(100%);
	}

	.embed-240p
	{
		max-width: 426px;
		max-height: 240px;
		margin:0 auto;
	}

	.embed-360p
	{
		max-width: 640px;
		max-height: 360px;
		margin:0 auto;
	}

	.embed-480p
	{
		max-width: 854px;
		max-height: 480px;
		margin:0 auto;
	}

	.embed-720p
	{
		max-width: 1280px;
		max-height: 720px;
		margin:0 auto;
	}

	.embed-1080p
	{
		max-width: 1920px;
		max-height: 1080px;
		margin:0 auto;
	}

	.cke_table-faked-selection-editor *::selection, table[data-cke-table-faked-selection-table] *::selection {
		background: transparent;
	}

	.cke_table-faked-selection-editor {
		/* With love, dedicated for Chrome, until https://bugs.chromium.org/p/chromium/issues/detail?id=702610 is resolved.
		It will force repaint (without reflow) so that selection is properly displayed.	*/
		transform: translateZ( 0 );
	}

	.cke_table-faked-selection {
		background: darkgray !important;
		color: black;
	}
	.cke_table-faked-selection a {
		color: black;
	}
	.cke_editable:focus .cke_table-faked-selection {
		/* We have to use !important here, as td might specify it's own background, thus table selection
		would not be visible. */
		background: #0076cb !important;
		color: white;
	}
	.cke_editable:focus .cke_table-faked-selection a {
		color: white;
	}
	.cke_table-faked-selection::-moz-selection, .cke_table-faked-selection ::-moz-selection {
		background: transparent;
	}
	.cke_table-faked-selection::selection, .cke_table-faked-selection ::selection {
		background: transparent;
	}
}

.annex-box {
    padding: 10px;
    border-radius: 4px;
	border: 1px solid #ccc;
}

.annex-list li {
    float: left;
    margin: 0 10px 0 0;
}


