<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>帮助中心</nz-breadcrumb-item>
    <nz-breadcrumb-item>文档详情</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="doc" style="padding:24px; background: #fff; min-height: 360px;">
    <div class="doc-header">
      <div class="title">
        <h1>{{detail.title}}</h1>
      </div>
      <div class="info">
        <span>{{detail.updateTime | date : 'yyyy-MM-dd hh:mm:ss'}}</span>
        <span> 上传人：</span><span>{{detail.uploadPeople}}</span>
        <span> 使用对象：</span><span>{{detail.useTarget}}</span>
      </div>
    </div>
    <div class="doc-body">
        <div class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders"  [innerHtml]="detail.documentDetail">
    </div>
    </div>
    <div class="annex-container" *ngIf="detail.documentAnnexList && detail.documentAnnexList.length">
      <div class="annex-box">
        <div class="annex-title">附件</div>
        <ul *ngFor="let item of detail.documentAnnexList" class="annex-list clearfix">
          <li>
            <i class="anticon anticon-paper-clip"></i><a href="{{item.annexUrl | staticUrl}}" target="_blank">{{item.annexName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nz-content>
