
<nz-content style="margin:0 16px">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>代客下单</nz-breadcrumb-item>
    <nz-breadcrumb-item>确认订单</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:20px;background: #fff">
    <div nz-row>
      <div nz-col [nzSpan]="24" style="margin-bottom: 12px">
        <button style="float: right" nz-button (click)="goBack()">返回</button>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="wgj-content">
          <div class="wgj-section">
            <div class="wgj-section-header">
              <span>用户信息</span>
            </div>
            <div class="wgj-section-content">
              <div nz-row>
                <div nz-col [nzSpan]="8">
                  <h3>{{_roObj.name}}</h3>
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSpan]="8">
                  <h3>{{_roObj.phone}}</h3>
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSpan]="8">
                  {{_roObj.pname + _roObj.cityname + _roObj.adname + _roObj.poiName + _roObj.address}}
                </div>
              </div>
              
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <div class="wgj-content">
          <div class="wgj-section">
            <div class="wgj-section-header">
              <span>商品信息</span>
            </div>
            <div class="wgj-section-content">
              <div nz-row *ngFor="let item of _orderInfo.storeOrders; let i = index" style="border-bottom: 1px solid #dedede;margin-bottom: 16px; padding-bottom: 16px">
                <div nz-col [nzSpan]="24" style="text-align: right;margin-bottom: 16px">店铺名称： {{item.storeName}}</div>
                <div nz-col [nzSpan]="12">
                  <form nz-form [formGroup]="_validateForm">
                    <div nz-form-item nz-row *ngIf="item.deliveryModes">
                      <div nz-form-label nz-col [nzSm]="4" style="text-align: left">
                        <label>配送方式</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="14">
                        快递{{i}}
                      </div>
                    </div>
                    <div nz-form-item nz-row *ngIf="item.deliveryModes">
                      <div nz-form-label nz-col [nzSm]="4" style="text-align: left">
                        <label>配送费</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="14">
                        <span style="color: red">￥{{item.freight.toFixed(2)}}</span>
                      </div>
                    </div>
                    <div nz-form-item nz-row>
                      <div nz-form-label nz-col [nzSm]="4" style="text-align: left">
                        <label for="remark">用户备注</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="14">
                        <nz-input [nzSize]="'large'" formControlName="remark" [nzId]="'remark'" [nzType]="'textarea'" [nzRows]="6" [(ngModel)]="item.remark"></nz-input>
                      </div>
                    </div>
                    <div nz-form-item nz-row *ngIf="item.needServiceTime">
                      <div nz-form-label nz-col [nzSm]="4" style="text-align: left">
                        <label>服务时间</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="18" *ngIf="_isCheck">
                        <div class="pick-time" *ngIf="_orderServiceTimes.length > 0">
                          <nz-tabset>
                            <nz-tab *ngFor="let tab of _orderServiceTimes">
                              <ng-template #nzTabHeading>
                                <p>{{tab.title}}</p>
                                <p>{{tab.date}}</p>
                              </ng-template>
                              <div class="time-content">
                                <ng-container *ngIf="!tab.showText">
                                  <div *ngFor="let it of tab.items">
                                    <button nz-button [disabled]="!it.enabled" [nzType]="'default'" [nzSize]="'large'" (click)="pickTime(it)">
                                        {{it.title}}
                                    </button>
                                  </div>
                                </ng-container>
                                <h3 *ngIf="tab.showText">无可选服务时间</h3>
                              </div>
                            </nz-tab>
                          </nz-tabset>
                        </div>
                      </div>
                      <div nz-form-control nz-col [nzSm]="8" *ngIf="!_isCheck">
                        <nz-datepicker style="width:100%" formControlName="deliveryTime" [ngModel]="item.deliveryTimeStart" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm'" (ngModelChange)="item.deliveryTimeStart=$event;valueChange()"></nz-datepicker>
                      </div>
                    </div>
                  </form>
                </div>
               
                <div nz-col [nzSpan]="12">
                  <nz-table #nzTable [nzAjaxData]="item.orderItemList" [nzIsPagination]="false" [nzBordered]="true">
                    <thead nz-thead>
                      <tr>
                        <th nz-th>
                          <span>商品图片</span>
                        </th>
                        <th nz-th>
                          <span>商品名称</span>
                        </th>
                        <th nz-th>
                          <span>单价</span>
                        </th>
                        <th nz-th>
                          <span>数量</span>
                        </th>
                        <th nz-th>
                          <span>小计</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody nz-tbody *ngFor="let good of item.orderItemList;let j = index">
                      <tr nz-tbody-tr>
                        <td nz-td>
                          <img style="width:40px;height:40px;" [src]="good.imageUrl" [alt]="good.name">
                        </td>
                        <td nz-td>
                          <div>{{ good.name }}</div>
                        </td>
                        <td nz-td>{{good.price}}</td>
                        <td nz-td>{{good.commodityCount}}</td>
                        <td nz-td>{{good.commodityCount*good.price}}</td>
                      </tr>
                      <tr nz-tbody-tr *ngIf="good.goodsAttributeList && good.goodsAttributeList.length > 0">
                        <td nz-td colspan="5">
                          <div nz-row *ngFor="let attrs of good.goodsAttributeList;let z = index" style="margin-bottom: 16px">
                            <div nz-col [nzSpan]="24">
                              <div nz-row [nzType]="'flex'" [nzAlign]="'middle'">
                                <div nz-col [nzSpan]="3"><span style="color: red">*</span>{{attrs.attributeDefineName}}</div>
                                <div nz-col [nzSpan]="9" *ngIf="attrs.showTime"> 
                                  <nz-datepicker style="width:100%" [ngModel]="attrs.value" [nzShowTime]="true" [nzFormat]="attrs.format" (ngModelChange)="attrs.value=$event;valueChange()"></nz-datepicker>
                                </div>
                                <div nz-col [nzSpan]="9" *ngIf="!attrs.showTime">
                                  <nz-input [nzSize]="'large'" [(ngModel)]="attrs.value"></nz-input>
                                </div>
                              </div> 
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </div>
            <div nz-col [nzSpan]="24" style="margin-top: 16px;text-align: right;font-size: 16px;line-height: 1.8;">
              <div nz-row>
                <div nz-col [nzSpan]="24">
                    <span style="color: red;font-size: 18px;">{{_totalCount}}</span> 件商品，总商品金额：￥{{_orderInfo.baseMoney.originMoney}}
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSpan]="24">
                  运费：￥{{_orderInfo.baseMoney.freight}}
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSpan]="24">
                  应付总额：￥<span style="color: red;font-size: 18px;">{{_orderInfo.baseMoney.subTotalMoney}}</span>
                </div>
              </div>
              <div nz-row>
                <div nz-col [nzSpan]="24">
                  <button nz-button (click)="confirmCreatedOrder()" [nzType]="'primary'">提交订单</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>
