<div>
  <h4>{{_name}}</h4>
  <br/>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="6">
        <label nz-form-item-required>原因</label>
      </div>
      <div nz-form-control nz-col [nzSpan]="14">
        <nz-select formControlName="rejectType" [nzSize]="'large'" [nzPlaceHolder]="'请选择'" [(ngModel)]="cancelParams.rejectType">
          <nz-option [nzLabel]="'没人服务'" [nzValue]="1"></nz-option>
          <nz-option [nzLabel]="'其他原因'" [nzValue]="2"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="6" nz-form-label>
        <label nz-form-item-required>详细描述</label>
      </div>
      <div nz-col [nzSpan]="14" nz-form-control>
        <nz-input formControlName="rejectReason" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'详细描述'" [nzSize]="'large'" [(ngModel)]="cancelParams.rejectReason">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('rejectReason').dirty&&getFormControl('rejectReason').hasError('required')">Please write something here!</div>
      </div>
    </div>
  </form>
  <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside($event)">
      确 定
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      返 回
    </button>
  </div>
</div>