<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>基础数据</nz-breadcrumb-item>
    <nz-breadcrumb-item>属性小组</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSm]="24" [nzMd]="2">
        <button nz-button [nzType]="'primary'" routerLink="/basicData/attribute/list/add">
          <span>新增</span>
        </button>
      </div>
      <div nz-col [nzSm]="24" [nzMd]="22" style="text-align:right">
        <nz-input [(ngModel)]="_params.name" [nzPlaceHolder]="'属性组名称'"></nz-input>
        <nz-input [(ngModel)]="_params.attrField" [nzPlaceHolder]="'属性组字段'"></nz-input>
        <button nz-button [nzType]="'default'" (click)="filter()">
          <i class="anticon anticon-search"></i>
          <span>搜索</span>
        </button>
      </div>
    </div>
    <nz-table #nzTable [nzAjaxData]="_dataSet.attributeGroupInfoVOList" [nzShowSizeChanger]="true" [nzLoading]="_loading" [nzTotal]="_dataSet.page.totalCount"
      [(nzPageIndex)]="_params.page.currentPage" (nzPageIndexChange)="_refreshData()" [(nzPageSize)]="_params.page.pageSize"
      (nzPageSizeChange)="_refreshData()" [nzShowTotal]="true">
      <thead nz-thead>
        <tr>
          <th nz-th>
            <span>属性小组名称</span>
          </th>
          <th nz-th>
            <span>属性小组字段</span>
          </th>
          <th nz-th>
            <span>操作</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td nz-td>{{data.name}}</td>
          <td nz-td>{{data.attrField}}</td>
          <td nz-td>
            <span>
              <a href="#">编辑</a>
              <span nz-table-divider></span>
              <!-- <a  (click)="delete(data)">删除</a> -->
              <nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="confirm(data)" (nzOnCancel)="cancel()">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-content>