<nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_current"
  (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)" [nzShowTotal]="true"
  [nzBordered]="true">
  <thead nz-thead>
    <tr>
      <th nz-th [nzCheckbox]="true">
        <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
        </label>
      </th>
      <th nz-th>
        <span>商品</span>
      </th>
      <th nz-th>
        <span>渠道售价</span>
      </th>
      <th nz-th>
        <span>数量</span>
      </th>
      <th nz-th>
          <span>订单金额</span>
      </th>
      <th nz-th>
        <span>买家</span>
      </th>
      <th nz-th>
        <span><span *ngIf="orderType==2">服务</span>信息</span>
      </th>
      <th nz-th>
          <span>供应商/店铺</span>
      </th>
      <th nz-th>
        <span>售后</span>
      </th>
      <th nz-th>
        <span>订单状态</span>
      </th>
      <th nz-th>
        <span>流程</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data">
      <tr nz-tbody-tr style="background-color:#ececec;">
        <td nz-td [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
          </label>
        </td>
        <td nz-td colspan="6">
          <span>{{data.createTime}}</span>&nbsp;&nbsp;
          <strong>订单号：{{data.id}}</strong>&nbsp;&nbsp;
          <strong>交易单号：{{data.payment[0].number}}</strong>
        </td>
        <td nz-td colspan="3" *ngIf="data.serviceEmployees.length<=0"></td>
        <td nz-td *ngIf="data.serviceEmployees.length>0" colspan="3">
          服务人员信息：{{data.serviceEmployees[0].name}}， {{data.serviceEmployees[0].gender}}， {{data.serviceEmployees[0].phone}}
        </td>
        <td nz-td>来源：
          <span style="font-weight: 700;">{{data.channelName}}</span>
        </td>
      </tr>
      <ng-template ngFor let-item [ngForOf]="data.goodList" let-i="index">
        <tr nz-tbody-tr>
          <td nz-td style="border-bottom:0;">
          </td>
          <td nz-td>
            <div style="text-align: left;">
              <div style="display:block;float:left;">
                <img style="width:40px;height:40px;float:left;" src="{{item.icon | imgPipe:40}}" alt="{{item.goodName}}">
              </div>
              <div style="display:inline-block;float:left;margin-left:8px;">{{item.goodName}}</div>
            </div>
          </td>
          <td nz-td>￥{{item.channelPrice}}</td>
          <td nz-td>{{item.count}}</td>
          <td nz-td *ngIf="i==0" [attr.rowspan]="data.goodList.length">
            <div style="text-align:center;">
              <p>￥{{data.needPaidPrice}}</p>
              <p *ngIf="data.payment.length>0 && data.payment[0].payMethodName" style="font-size:12px; color:#ccc;">({{data.payment[0].payMethodName}})</p>
              <p *ngIf="data.payment.length==0" style="font-size:12px; color:#ccc;">(未付款)</p>
            </div>
          </td>
          <td nz-td *ngIf="i==0" [attr.rowspan]="data.goodList.length">
            <p>{{data.receiverName}}</p>
            <p>{{data.phone}}</p>
            <p>{{data.deliveryAddr}}</p>
          </td>
          <td nz-td>
            <p *ngFor="let aItem of item.attrs">{{aItem.name}}：{{aItem.value}}</p>
          </td>
          <td nz-td *ngIf="i==0" [attr.rowspan]="data.goodList.length">
            <p>{{data.providerName}}</p>
            <p style="font-size:12px; color:#ccc;">({{data.storeName}})</p>
          </td>
          <td nz-td>{{item.afterMarketStatus}}</td>
          <td nz-td *ngIf="i==0" [attr.rowspan]="data.goodList.length">
            <span [ngClass]="{'yellow-text': data.statusType === '待接单', 
            'orange-text': data.statusType === '待服务'
          }">{{data.statusType}}</span>
          </td>
          <td nz-td>
              <p *ngIf="item.isVirtual && data.statusType != '待付款'" style="cursor: pointer;">
                  <!--跳转到流转记录页面-->
                  <nz-tooltip (click)="goFlowOrderLog(data)" (nzVisibleChange)="showRedirectTip($event, data)" [nzPlacement]="'topLeft'" [nzTitle]="cateTip">
                      <a nz-tooltip>流转记录</a>
                  </nz-tooltip>
                </p>
                <p><a (click)="showRemark(data)" style="cursor: pointer;">备注</a></p>
                <p>
                  <span *ngFor="let tagItem of data.customerServiceRemark.tagList">
                    <i *ngIf="tagItem.selected" class="anticon anticon-tag" [ngStyle]="{'color': tagItem.tag == '退款' ? 'red' : tagItem.tag == '其他' ? 'green' : 'orange' }"></i>
                </span>
              </p>
          </td>
        </tr>
      </ng-template>
      <tr nz-tbody-tr *ngIf="data.remark && data.remark.length" style="width:100%;">
        <td nz-td>
        </td>
        <td nz-td colspan="10">
          用户备注：
          <span style="color:#ffbf00;">{{data.remark}}</span>
        </td>
      </tr>
    </ng-template>

  </tbody>
</nz-table>
