<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
    
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
        <label for="content">描述</label>
      </div>
      <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
        <nz-input [nzSize]="'large'" formControlName="content" [nzId]="'content'" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'描述'" [nzSize]="'large'"></nz-input>
      </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="tagTypes">标签</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24">
            <nz-checkbox-group formControlName="tagTypes" [(ngModel)]="tagTypes"></nz-checkbox-group>
        </div>
      </div>
  </form>
  <div class="customize-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      取消
    </button>
    <button nz-button [nzLoading]="isLoading" [nzType]="'primary'" [nzSize]="'large'" (click)="_submitForm($event)">
      添加
    </button>
  </div>
</div>
