<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>权限管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>权限管理</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px;" nz-row class="wgj-content">
	<div nz-col [nzSpan]="6">
		<div class="wgj-section">		
			<div class="wgj-section-header">
			</div>
			<div class="wgj-section-content">		
				<ul>
					<li *ngFor="let item of list" (click)="getAuthList(item)">{{item.name}}
						<div class="fr">						
							<a (click)="editRole(item)">修改</a>
							<nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delete(item)" (nzOnCancel)="cancel()">
	                  			<a nz-popconfirm>删除</a>
	                		</nz-popconfirm>
						</div>
					</li>
				</ul>
				<div class="action">
					<button class="btn-primary" (click)="addRole()">添加</button>
					<button class="btn-accent">修改</button>
					<button class="btn-danger">删除</button>
				</div>
<!-- 				<nz-pagination [(nzPageIndex)]="page.currentPage" [nzTotal]="page.totalCount" [nzPageSize]="page.pageSize" (nzPageIndexChange)="getRoleList(1)"></nz-pagination> -->
			</div>	
		</div>
	</div>
	<div nz-col [nzSpan]="18" style="padding-left:12px;">
		<div class="wgj-section">
			name:{{currentItem.name}}
			<label nz-checkbox [(ngModel)]="selectAll" (ngModelChange)="toggleAll()">全选</label>
			<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="saveAuthData()">保存</button>
			<div *ngFor="let item of authList">
				<h1>{{item.name}}</h1>
				<ul>
					<li *ngFor="let cItem of item.subMenus">
						<label nz-checkbox [(ngModel)]="cItem.isSelected" (ngModelChange)="toggle(cItem)">
							<span>{{cItem.name}}</span>
						</label>
					</li>
				</ul>
			</div>

		</div>	
	</div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>