<nz-content style="margin:0 16px">
  <div nz-row>
    <div nz-col [nzSpan]="24" style="margin:12px 0;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>店铺管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>新增运费模版</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div style="padding:20px;background: #fff">
    <div nz-row>
      <div nz-col [nzSpan]="24" style="margin-bottom: 12px">
        <button style="float: right" nz-button (click)="goBack()">返回</button>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <form style="padding-top: 0.1px" nz-form [formGroup]="_storeManagerSPTemplatesAddForm" novalidate>
          <div class="wgj-content">
            <div class="wgj-section">
              <div class="wgj-section-content">
                <div nz-row nz-form-item>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label nz-form-item-required for="templateName">运费模版名称</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14" nzHasFeedback [nzValidateStatus]="_storeManagerSPTemplatesAddForm.controls['templateName']">
                      <nz-input [nzSize]="'large'" formControlName="templateName" [nzId]="'templateName'" [(ngModel)]="_reqParam.templateName"></nz-input>
                      <div nz-form-explain *ngIf="getFormControl('templateName').dirty && getFormControl('templateName').hasError('required')">请填写运费模版名称</div>
                      <div nz-form-explain *ngIf="getFormControl('templateName').dirty && getFormControl('templateName').hasError('templateName')">请填写正确运费模版名称，2～25个字符</div>
                  </div>
                </div>
                <div nz-row nz-form-item>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label nz-form-item-required for="freeDeliveryMode">是否包邮</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14">
                      <nz-radio-group formControlName="freeDeliveryMode" [(ngModel)]="_reqParam.freeDeliveryMode">
                        <label nz-radio [nzValue]="item.id" *ngFor="let item of _ownList">
                          <span>{{item.name}}</span>
                        </label>
                      </nz-radio-group>
                  </div>
                </div>
                <div nz-row nz-form-item *ngIf="_reqParam.freeDeliveryMode == 1">
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label nz-form-item-required for="freightMode">计价方式</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14">
                      <nz-radio-group formControlName="freightMode" [(ngModel)]="_reqParam.freightMode">
                        <label nz-radio [nzValue]="item.id" *ngFor="let item of _typeList">
                          <span>{{item.name}}</span>
                        </label>
                      </nz-radio-group>
                  </div>
                </div>
                <div nz-row nz-form-item>
                  <div nz-form-label nz-col [nzSpan]="5">
                    <label nz-form-item-required>配送方式</label>
                  </div>
                  <div nz-form-control nz-col [nzSpan]="14">
                     <label nz-checkbox [(ngModel)]="_reqParam.deliveryChecked" [ngModelOptions]="{standalone: true}">
                         <span>快递</span>
                     </label>
                     <div nz-row *ngIf="_reqParam.freeDeliveryMode == 1">
                       <!--按件数-->
                        <div nz-col [nzSpan]="24" *ngIf="_reqParam.freightMode == 1 && _reqParam.deliveryChecked">
                            <h6>除指定地区外，其余地区的运费采用“默认运费”</h6> 
                            <div style="margin-top: 10px">
                              默认运费：
                              <nz-input  style="width: 50px" formControlName="defalutFirstArticle" [(ngModel)]="_defaultExpressFreight.firstArticle"></nz-input>件内，<nz-input style="width: 50px" formControlName="defaultFirstArticleFreight" [(ngModel)]="_defaultExpressFreight.firstArticleFreight"></nz-input>元，每增加
                              <nz-input style="width: 50px"  formControlName="defaultAddArticle" [(ngModel)]="_defaultExpressFreight.addArticle"></nz-input>件，增加运费
                              <nz-input style="width: 50px"  formControlName="defaultAddArticleFreight" [(ngModel)]="_defaultExpressFreight.addArticleFreight"></nz-input>元。
                            </div>
                            <div *ngIf="(getFormControl('defalutFirstArticle').invalid && getFormControl('defalutFirstArticle').dirty) || (getFormControl('defaultFirstArticleFreight').invalid && getFormControl('defaultFirstArticleFreight').dirty) || (getFormControl('defaultAddArticle').invalid && getFormControl('defaultAddArticle').dirty) || (getFormControl('defaultAddArticleFreight').invalid && getFormControl('defaultAddArticleFreight').dirty)">请输入正确数量和价格</div>
                            <div *ngIf="freightList.length > 0">
                                <nz-table [nzDataSource]="[1]" [nzBordered]="true" [nzIsPagination]="false" [nzSize]="'middle'">
                                  <thead nz-thead>
                                    <tr>
                                      <th nz-th style="width: 200px;">
                                        <span>选择配送区域</span>
                                      </th>
                                      <th nz-th>
                                        <span>首重（kg）</span>
                                      </th>
                                      <th nz-th>
                                        <span>运费（元）</span>
                                      </th>
                                      <th nz-th>
                                        <span>续重（kg）</span>
                                      </th>
                                      <th nz-th>
                                        <span>续费（元）</span>
                                      </th>
                                      <th nz-th style="width: 100px;">
                                        <span>操作</span>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody nz-tbody formArrayName="freightList">

                                    <tr nz-tbody-tr *ngFor="let freight of freightList.controls;let i = index" [formGroupName]="i">
                                        <td nz-td>
                                            <span *ngFor="let region of freight.get('freightRegionDtoList').value;let j = index">
                                              <span *ngIf="j < 4">{{region.regionName}},</span>
                                            </span>
                                            <span *ngIf="freight.get('freightRegionDtoList').value.length>=4">...</span>
                                            <a (click)="freightModal(freight,freightList)"><span *ngIf="freight.get('freightRegionDtoList').value.length > 0">编辑</span> <span *ngIf="freight.get('freightRegionDtoList').value.length == 0">添加</span></a>
                                        </td>
                                        <td nz-td>
                                          <nz-input formControlName="firstArticle"></nz-input>
                                          <div *ngIf="freight.get('firstArticle').invalid && freight.get('firstArticle').dirty">请输入正确数量</div>
                                        </td>
                                        <td nz-td>
                                            <nz-input formControlName="firstArticleFreight"></nz-input>
                                            <div *ngIf="freight.get('firstArticleFreight').invalid && freight.get('firstArticleFreight').dirty">请输入正确价格</div>
                                        </td>
                                        <td nz-td>
                                            <nz-input formControlName="addArticle"></nz-input>
                                            <div *ngIf="freight.get('addArticle').invalid && freight.get('addArticle').dirty">请输入正确数量</div>
                                        </td>
                                        <td nz-td>
                                            <nz-input formControlName="addArticleFreight"></nz-input>
                                            <div *ngIf="freight.get('addArticleFreight').invalid && freight.get('addArticleFreight').dirty">请输入正确价格</div>
                                        </td>
                                        <td nz-td (click)="delFreight(i)">
                                          <a>删除</a>
                                        </td>
                                    </tr>
                                  </tbody>
                              </nz-table>
                            </div>
                            <div><a style="margin-top: 10px" (click)="newFreight()">+为指定区域设置运费</a></div>
                        </div>  
                     </div>
                  </div>
                </div>
                <div nz-row nz-form-item>
                  <div nz-form-label nz-col [nzSpan]="5">
                  </div>
                  <!--指定条件包邮-->
                  <div nz-form-control nz-col [nzSpan]="14" *ngIf="_reqParam.freeDeliveryMode == 1">
                    <label nz-checkbox [(ngModel)]="_reqParam.freeChecked" [nzDisabled]="!_reqParam.deliveryChecked" [ngModelOptions]="{standalone: true}">
                        <span>指定条件包邮</span><nz-tag [nzColor]="'#f50'">可选</nz-tag>
                    </label>
                    
                    <div nz-row *ngIf="_reqParam.freeChecked && _reqParam.deliveryChecked">
                       
                      
                      <div *ngIf="freeDeliveryConditions.length > 0" nz-col [nzSpan]="20">
                        <nz-table [nzDataSource]="[1]" [nzBordered]="true" [nzIsPagination]="false">
                          <thead nz-thead>
                            <tr>
                              <th nz-th style="width: 200px">
                                <span>选择配送区域</span>
                              </th>
                              <th nz-th>
                                <span>配送方式</span>
                              </th>
                              <th nz-th style="width: 250px">
                                <span>设置包邮条件</span>
                              </th>
                              <th nz-th style="width: 100px">
                                <span>操作</span>
                              </th>
                            </tr>
                          </thead>
                          <tbody nz-tbody formArrayName="freeDeliveryConditions">
                            <tr nz-tbody-tr *ngFor="let freeFreightInfo of freeDeliveryConditions.controls;let i = index" [formGroupName]="i">
                                <td nz-td>
                                    <span *ngFor="let region of freeFreightInfo.get('freightRegionDtoList').value;let j = index">
                                      <span *ngIf="j < 4">{{region.regionName}},</span>
                                    </span>
                                    <span *ngIf="freeFreightInfo.get('freightRegionDtoList').value.length >= 4">...</span>
                                    <a (click)="freightModal(freeFreightInfo,freeDeliveryConditions)"><span *ngIf="freeFreightInfo.get('freightRegionDtoList').value.length > 0">编辑</span> <span *ngIf="freeFreightInfo.get('freightRegionDtoList').value.length == 0">添加</span></a>
                                </td>
                                <td nz-td>
                                  <nz-select formControlName="deliveryType" [nzAllowClear]="true">
                                    <nz-option [nzValue]="4" [nzLabel]="'快递'"></nz-option>
                                  </nz-select>
                                </td>
                                <td nz-td>
                                  <!--按件数-->
                                  <div *ngIf="_reqParam.freightMode == 1">
                                    <nz-select formControlName="conditionOption" [nzAllowClear]="true" style="margin-bottom: 8px">
                                      <nz-option [nzValue]="1" [nzLabel]="'金额'"></nz-option>
                                      <nz-option [nzValue]="2" [nzLabel]="'数量'"></nz-option>
                                      <nz-option [nzValue]="3" [nzLabel]="'金额＋数量'"></nz-option>
                                    </nz-select>
                                    <div *ngIf="freeFreightInfo.get('conditionOption').value == 1" style="text-align: center;">
                                      满<nz-input  style="width: 50px" formControlName="amount"></nz-input>元以上
                                      <div *ngIf="freeFreightInfo.get('amount').invalid && freeFreightInfo.get('amount').dirty">请输入正确价格</div>
                                    </div>
                                    <div *ngIf="freeFreightInfo.get('conditionOption').value == 2"  style="text-align: center;">
                                      满<nz-input  style="width: 50px" formControlName="count"></nz-input>件以上
                                      <div *ngIf="freeFreightInfo.get('count').invalid && freeFreightInfo.get('count').dirty">请输入正确数量</div>
                                    </div>
                                    <div *ngIf="freeFreightInfo.get('conditionOption').value == 3"  style="text-align: center;">
                                      满<nz-input  style="width: 50px" formControlName="count"></nz-input>件，
                                      满<nz-input  style="width: 50px" formControlName="amount"></nz-input>元以上
                                      <div *ngIf="(freeFreightInfo.get('count').invalid && freeFreightInfo.get('count').dirty) || (freeFreightInfo.get('amount').invalid && freeFreightInfo.get('amount').dirty)">请输入正确价格和数量</div>
                                    </div>
                                  </div>
                                </td>
                                <td nz-td (click)="delFreeDeliveryConditions(i)">
                                  <a>删除</a>
                                </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                      <div nz-col [nzSpan]="24"><a style="margin-top: 10px" (click)="addFree()">+添加</a></div>
                    </div>
                 </div>
                </div>
              </div> 
            </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="24">
              <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="_storeManagerSPTemplatesAddForm.invalid ||!_reqParam.deliveryChecked" [nzLoading]="_saveLoading" (click)="createTemplate()">保存</button>
              <button nz-button [nzSize]="'large'">取消</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>



