<nz-popover [nzTitle]="'备注'" [nzTrigger]="'click'" [nzPlacement]="'bottomRight'" [nzVisible]="_isVisible" (nzVisibleChange)="visibleChange($event)">
  <p nz-popover><a>备注</a></p>
  <ng-template #nzTemplate>
    <div class="show-remark" nz-row>
        <textarea class="input-textarea" [(ngModel)]="textareaValue"></textarea>
        <div class="checkbox" nz-col [nzSpan]="24">
            <label nz-checkbox [(ngModel)]="item.selected" (ngModelChange)="checkboxChange(item)" *ngFor="let item of list">
              <span>{{item.tag}}</span><i class="anticon anticon-tag" [style.color]="item.type | remarkFilter"></i>
            </label>
        </div>
        <div nz-col [nzSpan]="24" class="btns">
          <div>
              <button nz-button (click)="cancel()">取消</button>
              <button nz-button [nzType]="'primary'" (click)="sure()">保存</button>
          </div>
        </div>
        <nz-spin [nzSpinning]="_isSpinning"></nz-spin>
    </div>
  </ng-template>
</nz-popover>
