<nz-content style="margin:0 16px">
  <div nz-row>
    <div nz-col [nzSpan]="24" style="margin:12px 0;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>供应商管理</nz-breadcrumb-item>
        <nz-breadcrumb-item>商务审核</nz-breadcrumb-item>
        <nz-breadcrumb-item>审核详情</nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div style="padding:24px;background: #fff">
    <div nz-row>
      <div nz-col [nzSpan]="24" style="margin-bottom: 12px">
        <button style="float: right" nz-button (click)="goBack()">返回</button>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <form nz-form novalidate>
          <div class="wgj-content">
            <div class="wgj-section">
              <div class="wgj-section-header">
                <span>基本信息</span>
              </div>
              <div class="wgj-section-content">
                  <div nz-row nz-form-item>
                    <div nz-col [nzSpan]="4">
                      <label>供应商名称:</label>
                    </div>
                    <div nz-col [nzSpan]="20">
                        {{_serviceName}}
                    </div>
                  </div>
                  <div nz-row nz-form-item>
                    <div nz-col [nzSpan]="4">
                      <label>店铺名称:</label>
                    </div>
                    <div nz-col [nzSpan]="20">
                        {{_storesName}}
                    </div>
                  </div>
                  <div nz-row nz-form-item>
                    <div nz-col [nzSpan]="4">
                      <label>提交时间:</label>
                    </div>
                    <div nz-col [nzSpan]="20">
                        {{_createTime}}
                    </div>
                  </div>
              </div>
            </div>
            <div class="wgj-section">
              <div class="wgj-section-header">
                <span>店铺覆盖范围</span>
              </div>
              <div class="wgj-section-content" style="position:relative;padding: 16px 0">
                <div id="supplierAuditDetailGis" tabindex="0" style="width:100%; height:780px"></div>
                <app-gis-service-area-list [canEdit]="false" [showCheckbox]="false" [showStatus]="true" [showRadio]="_gisShowRadio" [showAuditBtn]="_gisShowAuditBtn" [showDeleteBtn]="false" [showPageIndex]="false" [showSearch]="false"></app-gis-service-area-list>
              </div>
            </div>
            <div class="wgj-section" *ngIf="_status !== '1'">
              <div class="wgj-section-header">
                <span>审核记录</span>
              </div>
              <div class="wgj-section-content">
                <div>
                  <nz-table [nzDataSource]="_resData" [nzBordered]="true" [nzIsPagination]="false">
                    <thead nz-thead>
                      <tr>
                        <th nz-th>
                          <span>区域名称</span>
                        </th>
                        <th nz-th>
                          <span>审核结果</span>
                        </th>
                        <th nz-th *ngIf="_status === '3'">
                          <span>不通过原因</span>
                        </th>
                        <th nz-th>
                          <span>审核时间</span>
                        </th>
                        <th nz-th>
                          <span>审核账号</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody nz-tbody>
                      <tr nz-tbody-tr style="background-color:#ececec;" *ngFor="let item of _resData">
                          <td nz-td>{{item.name}}</td>
                          <td nz-td>{{_status === '2' ? '通过': '不通过'}}</td>
                          <td nz-td *ngIf="_status === '3'">{{item.reason}}</td>
                          <td nz-td>{{item.verifyTime}}</td>
                          <td nz-td>{{item.verifyUserName}}</td>
                      </tr>
                    </tbody>
                  </nz-table>
                
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>