<nz-content style="margin:0 16px 44px 16px;">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>商品审核</nz-breadcrumb-item>
        <nz-breadcrumb-item>审核管理</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="padding:24px 24px 50px 24px;  background: #fff; min-height: 360px;">
        <div class="wgj-content">
            <div class="wgj-section">
                <div class="wgj-section-header">
                    <span>基本信息</span>
                </div>
                <div class="wgj-section-content base-info-content">
                    <div nz-row>
                        <div nz-col [nzSpan]="12" class="base-info-col-first">
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    商品名称:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.name}}
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    商品类目:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.goodsTypeFullName}}
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    商品类型:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.virtual | goodsTypeFilter}}
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    售价:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.price}}
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    原价:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.originalPrice}}
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    成本价:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.costPrice}}
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span" style="padding-bottom: 6px">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3" class="base-info-col-span-child">
                                    <span *ngIf="!showBtn" (click)="showBtn = !showBtn"> 更 多
                                        <i class="anticon anticon-down"></i>
                                    </span>
                                    <span *ngIf="showBtn" (click)="showBtn = !showBtn">收 起
                                        <i class="anticon anticon-up"></i>
                                    </span>
                                </div>
                            </div>
                            <div nz-col [nzSpan]="24" nz-row *ngIf="showBtn" class="base-info-bottom">
                                <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                        重量:
                                    </div>
                                    <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                        {{goodsInfo.goodsDTO.weight}}
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                        商品编码:
                                    </div>
                                    <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                        {{goodsInfo.goodsDTO.code}}
                                    </div>
                                </div>
                                <div nz-col [nzSpan]="24" nz-row class="base-info-col-span" style="padding-bottom: 6px">
                                    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                        商品条形码:
                                    </div>
                                    <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                        {{goodsInfo.goodsDTO.barcode}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12" nz-row class="rd-image">
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-img">
                                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="3" [nzLg]="3" [nzXl]="3">
                                    商品主图:
                                </div>
                                <div nz-col [nzXs]="21" [nzSm]="21" [nzMd]="21" [nzLg]="21" [nzXl]="17" nz-row>
                                    <span nz-col *ngFor="let img of imgList">
                                        <img src="{{img.url | imgPipe:40}}" alt="图片" *ngIf="img.url">
                                        <div *ngIf="!img.url" class="rd-bgr"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wgj-section" *ngIf="goodsInfo.attributeGroupVO && !goodsInfo.attributeGroupVO.userAttributeDefineVOList">
                <div class="wgj-section-header">
                    <span>商品属性</span>
                </div>
                <div class="wgj-section-content goods-attrs-content">
                    <p>个性化选项:</p>
                    <div class="goods-a-table">
                        <div nz-row [nzGutter]="2">
                            <div nz-col class="goods-a-row" [nzSpan]="6">
                                <div class="goods-a-box">字段</div>
                            </div>
                            <div nz-col class="goods-a-row" [nzSpan]="6">
                                <div class="goods-a-box">是否必填</div>
                            </div>
                            <div nz-col class="goods-a-row" [nzSpan]="6">
                                <div class="goods-a-box">字段类型</div>
                            </div>
                            <div nz-col class="goods-a-row" [nzSpan]="6">
                                <div class="goods-a-box">提示或者约束</div>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="2" *ngFor="let userAttributeDefineVO of goodsInfo.attributeGroupVO.userAttributeDefineVOList">
                            <div nz-col class="goods-b-row" [nzSpan]="6">
                                <div class="goods-b-box">{{userAttributeDefineVO.title}}</div>
                            </div>
                            <div nz-col class="goods-b-row" [nzSpan]="6">
                                <div class="goods-b-box">{{userAttributeDefineVO.required}}</div>
                            </div>
                            <div nz-col class="goods-b-row" [nzSpan]="6">
                                <div class="goods-b-box">{{userAttributeDefineVO.attrType}}</div>
                            </div>
                            <div nz-col class="goods-b-row" [nzSpan]="6">
                                <div class="goods-b-box">
                                    <span *ngIf="!userAttributeDefineVO.attributeValueVOList">-</span>
                                    <span style="display:block" *ngFor="let attributeValueVO of userAttributeDefineVO.attributeValueVOList">{{attributeValueVO.content}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wgj-section">
                <div class="wgj-section-header">
                    <span>商品详情</span>
                </div>
                <div class="wgj-section-content goods-detail">
                    <div nz-row>
                        <div nz-col [nzSpan]="12" class="gd-left" style="padding-right:24px">
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                                    商品描述:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21" [innerHTML]="goodsInfo.goodsDTO.descriptions"></div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12" nz-row class="gd-left" style="padding-left:24px">
                            <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                                <div nz-col [nzXs]="3" [nzSm]="3" [nzMd]="3" [nzLg]="3" [nzXl]="3">
                                    商品简介:
                                </div>
                                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                                    {{goodsInfo.goodsDTO.summary}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wgj-section" *ngIf="logsList">
                <div class="wgj-section-header">
                    <span>审核记录</span>
                </div>
                <div class="wgj-section-content review-records">
                    <nz-table #nzTable [nzAjaxData]="logsList.logs" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="logsList.page.totalCount"
                        [(nzPageIndex)]="getLogsParams.page.currentPage" (nzPageIndexChange)="reviewLogs(getLogsParams)" (nzPageSizeChange)="reviewLogs(getLogsParams)"
                        [(nzPageSize)]="getLogsParams.page.pageSize" [nzShowTotal]="true" class="review-r-table">
                        <thead nz-thead>
                            <tr>
                                <th nz-th>
                                    <span>审核结果</span>
                                </th>
                                <th nz-th>
                                    <span>不通过记录</span>
                                </th>
                                <th nz-th>
                                    <span>审核时间</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                                <td nz-td>{{data.result}}</td>
                                <td nz-td>
                                    <span *ngIf="!data.reason">-</span>
                                    <span *ngIf="!data.reason">{{data.reason}}</span>
                                </td>
                                <td nz-td>{{data.date | date:'yyyy-MM-dd HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</nz-content>

<div class="review-footer" *ngIf="goodsInfo.goodsDTO && goodsInfo.goodsDTO.verifyStatus == 11">
    <nz-button-group [nzSize]="'large'">
        <button nz-button [nzType]="'default'" (click)="disReview()">
            <span>不通过</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="doreview()">
            <span>通 过</span>
        </button>
    </nz-button-group>
</div>