.base-info-content{
    width: 100%;
    .base-info-col-first{
        div:nth-child(4){
            padding-top: 16px;
        }
    }
    .base-info-col-span{
        padding: 0 0 16px 0;
        
        div:first-child{
            color:#000000;
        }
        div:nth-child(2){
            color: #606060;;
        }
        .base-info-col-span-child span{
            color:#dedede;
            cursor: pointer;
        }
    }
    .base-info-bottom{
        padding-top: 10px;
        div:first-child{
            padding-top: 0;
        }
    }

    .rd-image{
        .base-info-col-img{
            img,.rd-bgr{
                margin:0 8px 8px 0;
                background-color:#f6f6f6;
                float:left;
                width: 100px;
                height: 100px;
            }
        }
            
        @media screen and (min-width: 1600px) {
            div:nth-child(2){
                width:500px;
            }
        }
    
        @media screen and (min-width: 1380px) {
            div:nth-child(2){
                width:450px;
            }
        }
    
        @media screen and (max-width: 1380px) {
            .base-info-col-img{
                img,.rd-bgr{
                    width: 94px;
                    height: 94px;
                }
            }
        }
    }
}

.goods-attrs-content{
    p{
        padding: 16px 0 0 16px;
    }
    .goods-a-box {
        background: #e8e8e8;
        padding: 5px 0;
        text-align: center;
    }
    .goods-a-table{
        padding: 0 16px 16px 16px
    }
    .goods-b-box{
        background: #f5f5f5;
        padding: 5px 0;
        text-align: center;
    }
    .goods-b-row{
        margin-top: 2px
    }
    
}

.goods-detail,.review-records{
    padding: 16px;
    .review-r-table{
        th, td{
            padding: 6px;
            text-align: center;
            border: 1px solid #ffffff
        }
        th{
            background-color: #e8e8e8;
            color: #000000;
            font-weight: normal;
        }
        td{
            background-color: #f5f5f5;
            color: #606060;
        }
    }
}

.review-footer{
    position: fixed;
    bottom:0;
    right: 0;
    left: 100px;
    height:48px;
    width:100%;
    border-top: 2px solid #dedede;
    background-color:#ffffff;
    text-align:center;
    line-height:48px;

    button{
        width:240px;
        height:36px;
    }
}

