<nz-content style="margin:0 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>OAuth注册</nz-breadcrumb-item>
    <nz-breadcrumb-item>客户端注册</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px; background: #fff; min-height: 360px;">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-form-item nz-row>
        <div nz-form-control nz-col>
          <nz-input formControlName="name" [nzPlaceHolder]="'名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="validateForm.controls.name.dirty&&validateForm.controls.name.hasError('required')">请输入名称</div>
        </div>
      </div>
      <button nz-button [nzType]="'primary'" (click)="search()">
        <i class="anticon anticon-search"></i>
        <span>搜索</span>
      </button>
    </form>
    <button nz-button [nzType]="'primary'" style="margin-top:15px;" (click)="addClient()">
      <i class="anticon anticon-plus"></i>
      <span>新增</span>
    </button>
    <div class="search-result-list">
      <nz-table #nzTable [nzAjaxData]="_dataSet" nzShowSizeChanger [nzLoading]="_loading" [nzTotal]="_total" [(nzPageIndex)]="_current"
        (nzPageIndexChange)="refreshData()" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)" [nzShowTotal]="true">
        <thead nz-thead>
          <tr>
            <th>ClientId</th>
            <th>名称</th>
            <th>认证方式</th>
            <th>ClientSecret</th>
            <th>访问范围</th>
            <th>回调URL</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>
              <a (click)="detaiClient(data)">{{data.clientId}}</a>
            </td>
            <td nz-td>{{data.name}}</td>
            <td nz-td>{{data.clientSecret}}</td>
            <td nz-td>{{data.additionalInformation}}</td>
            <td nz-td>{{data.scope}}</td>
            <td nz-td>{{data.webServerRedirectUri}}</td>
            <td nz-td>
              <span>
                <a href="javascript:;" (click)="updateClient(data)">编辑</a>
                <span nz-table-divider></span>
                <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delete(data)" (nzOnCancel)="cancel()">
                  <a nz-popconfirm>删除</a>
                </nz-popconfirm>
              </span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</nz-content>
