<div>
  <h4>{{_name}}</h4>
  <br/>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="_submitForm()">
    <div nz-form-item nz-row>
      <div nz-col [nzSpan]="6" nz-form-label>
        <label nz-form-item-required>详细描述</label>
      </div>
      <div nz-col [nzSpan]="14" nz-form-control>
        <nz-input formControlName="unsatistyCommont" [nzRows]="2" [nzType]="'textarea'" [nzPlaceHolder]="'详细描述'" [nzSize]="'large'" [(ngModel)]="params.unsatistyCommont">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('unsatistyCommont').dirty&&getFormControl('unsatistyCommont').hasError('required')">Please write something here!</div>
      </div>
    </div>
  </form>
  <div class="customize-footer">
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside($event)">
      确 定
    </button>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
      返 回
    </button>
  </div>
</div>