<nz-content style="margin:0 16px 44px 16px;">
  <nz-breadcrumb style="margin:12px 0;">
    <nz-breadcrumb-item>商务工单管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>详情</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div style="padding:24px 24px 50px 24px; background: #fff; min-height: 360px;">
    <div nz-row>
      <div nz-col [nzSpan]="16">
        <nz-steps [(nzCurrent)]="current" style="width: 60%">
          <nz-step [nzTitle]="'待接单'"></nz-step>
          <nz-step [nzTitle]="'待服务'"></nz-step>
          <nz-step [nzTitle]="'服务中'"></nz-step>
          <nz-step [nzTitle]="'服务完成'"></nz-step>
        </nz-steps>
      </div>
    </div>
    <div nz-row [nzType]="'flex'" [nzJustify]="'space-between'" [nzAlign]="'bottom'">
      <div nz-col [nzSpan]="8">
        <nz-card style="width:302px;margin-top:32px" class="wo-card">
          <ng-template #title>
            <span style="color:#108ee9">{{workOrderDetailInfo.status | woStatusPipe}}</span>
          </ng-template>
          <ng-template #body>
            <p style="font-weight: bold">{{workOrderDetailInfo.address}}</p>
            <p>服务开始时间: {{workOrderDetailInfo.beginServiceTime | date:'yyyy-MM-dd HH:mm'}}</p>
            <p>最迟完成时间: {{workOrderDetailInfo.endServiceTime | date:'yyyy-MM-dd HH:mm'}}</p>
            <p>备注: {{workOrderDetailInfo.remark}}</p>
            <button nz-button [nzType]="'primary'" *ngIf="workOrderDetailInfo.status==1" (click)="rejectWorkOrder($event)">
              <span>撤回工单</span>
            </button>
          </ng-template>
        </nz-card>
      </div>
    </div>

    <div class="wgj-content">
      <div class="wgj-section">
        <div class="wgj-section-header">
          <span>服务反馈</span>
        </div>
        <div class="wgj-section-content" style="margin-bottom: -26px">
          <div nz-row>
            <div nz-col [nzSpan]="24" class="base-info-col-first rd-image">
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span" *ngIf="!workOrderDetailInfo.commentsVOList || workOrderDetailInfo.commentsVOList.length==0">
                <div nz-col [nzSpan]="24" style="margin-bottom: 16px">
                  暂无反馈信息
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-img" *ngFor="let item of workOrderDetailInfo.commentsVOList">
                <div nz-col [nzSpan]="24">
                  <div nz-col [nzSpan]="24" style="margin-bottom: 16px">
                    <span style="margin-right:32px;display: inline-block">{{item.status | commenPipe}}</span>
                    <span>{{item.updatedTime | date:'yyyy-MM-dd HH:mm'}}</span>
                  </div>
                  <div nz-col [nzSpan]="24" *ngIf="item.status == 2" style="margin-bottom: 16px">
                    <span>{{item.comments}}</span>
                  </div>
                  <span nz-col *ngFor="let img of item.imageUrls">
                    <img src="{{img}}" alt="图片" *ngIf="img">
                    <div *ngIf="!img" class="rd-bgr"></div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wgj-section">
        <div class="wgj-section-header">
          <span>工单基本信息</span>
        </div>
        <div class="wgj-section-content">
          <div nz-row>
            <div nz-col [nzSpan]="12" class="base-info-col-first">
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                  工单编号:
                </div>
                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                  {{workOrderDetailInfo.number}}
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                  下单时间:
                </div>
                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                  {{workOrderDetailInfo.createTime | date:'yyyy-MM-dd HH:mm'}}
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3" style="line-height: 28px">
                  预约周期:
                </div>
                <div nz-col [nzXs]="8" [nzSm]="8" [nzMd]="8" [nzLg]="8" [nzXl]="6">
                  {{workOrderDetailInfo.servicePeriod}}&nbsp;&nbsp;
                  <button nz-button [nzType]="'default'" (click)="cancelPeriod(workOrderDetailInfo)" *ngIf="workOrderDetailInfo.servicePeriod!=0"
                    [nzLoading]="_loading">
                    <span>取消周期预约</span>
                  </button>
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span">
                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                  服务名称:
                </div>
                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                  {{workOrderDetailInfo.goodsName}}
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span" *ngIf="workOrderDetailInfo.handlerUserName">
                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                  服务人员:
                </div>
                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                  {{workOrderDetailInfo.handlerUserName}}
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span" *ngIf="workOrderDetailInfo.handlerUserPhone">
                <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4" [nzLg]="4" [nzXl]="3">
                  联系方式:
                </div>
                <div nz-col [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" [nzXl]="21">
                  {{workOrderDetailInfo.handlerUserPhone}}
                </div>
              </div>
              <div nz-col [nzSpan]="24" nz-row class="base-info-col-span" *ngIf="!workOrderDetailInfo.handlerUserName && !workOrderDetailInfo.handlerUserPhone">
                <div nz-col [nzSpan]="24">
                  <span *ngIf="workOrderDetailInfo.orderStatus==23 || workOrderDetailInfo.status==4">未接单，</span>暂无服务信息
                </div>
                <div nz-col [nzSpan]="24" *ngIf="workOrderDetailInfo.note">
                  服务反馈：{{workOrderDetailInfo.note}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <nz-back-top></nz-back-top>
</nz-content>