.wgj-content{
    margin-top:48px;

    
}
.base-info-col-span{
    padding: 0 0 16px 0;
    
    div:first-child{
        color:#000000;
    }
    div:nth-child(2){
        color: #606060;;
    }
}

.wo-card{
    p{
        padding: 2px 0
    }
}

.rd-image{
    .base-info-col-img{
        img,.rd-bgr{
            margin:0 8px 8px 0;
            background-color:#f6f6f6;
            float:left;
            width: 100px;
            height: 100px;
        }
        margin-bottom: 32px
    }
}